<h1>EDIT <%= user.name %></h1>

<form action="/user/update/<%= user.id %>" method="POST" class="form">



    <div class="control-group">
        <div class="form-control">
        </div></div>
    <div class="control-group">
        <input type="text" class="form-control" placeholder="your name" name="name" value="<%= user.name %>">
    </div>
    <div class="control-group">
        <input type="text" class="form-control" placeholder="your title" name="title" value="<%= user.title %>">
    </div>
    <div class="control-group">
        <input type="text" class="form-control" placeholder="your email" name="email" value="<%= user.email %>">
    </div>
    <!-- <div class="control-group">
        <input type="text" class="form-control" placeholder="your pass" name="password">
    </div>
    <div class="control-group">
        <input type="text" class="form-control" placeholder="confirm pass" name="confirmation">
    </div> -->
    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Update Account"/>
    <input type="hidden" name="_csrf" value="<%= _csrf %>">
</form>
