<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

    <!-- Meta-Information -->
    <title>Xtrem - ADMIN Dashboard</title>
    <meta charset="utf-8">
    <meta name="description" content="xtrem dashboard page">
    <meta name="keywords" content="admin, admin dashboard">
    <meta name="author" content="xtrem">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Vendor: Bootstrap Stylesheets http://getbootstrap.com -->
    <link rel="stylesheet" href="/styles/admin/bootstrap.min.css">

    <!-- Our Website CSS Styles -->
    <link rel="stylesheet" href="/styles/admin/icons.css">
    <link rel="stylesheet" href="/styles/admin/main.css">
    <link rel="stylesheet" href="/styles/admin/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css">

</head>

<body>
    <!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

    <!-- Our Website Content Goes Here -->  
    <header class="simple-normal">
        <div class="top-bar">
            <div class="logo">
                <a href="/dashboard" title=""><i class="fa fa-bullseye"></i> Xtrem</a>
            </div>
            <div class="menu-options"><span class="menu-action"><i></i></span></div>
            <div class="search-dashboard">
                <div class="responsive-search">
                    <i class="fa fa-search"></i>
                </div>
                <form>
                    <input type="text" placeholder="Search here" />
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <!-- Search Dashboard -->
            <div class="top-bar-quick-sec">
                <ul class="quick-notify-section custom-dropdowns">
                    <li class="message-list dropdown">
                        <span><i class="fa fa-bell-o"></i><strong class="skyblue-bg">7</strong></span>
                        <div class="message drop-list">
                            <span>You have 4 New Messages</span> 
                            <ul>
                                <li>
                                    <a href="javascript:void(0)" title=""><span><img src="http://placehold.it/40x40" alt="" /></span><i>Labrina Scholer</i>Hi! How are you?...<h6>2 min ago..</h6><p class="status blue-bg">New</p></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" title=""><span><img src="http://placehold.it/40x40" alt="" /></span><i>Jonathan</i>Hi! How are you?...<h6>2 min ago..</h6><p class="status red-bg">Unsent</p></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" title=""><span><img src="http://placehold.it/40x40" alt="" /></span><i>Barada knol</i>Hi! How are you?...<h6>2 min ago..</h6><p class="status green-bg">Reply</p></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" title=""><span><img src="http://placehold.it/40x40" alt="" /></span><i>Samtha Gee</i>Hi! How are you?...<h6>2 min ago..</h6><p class="status">New</p></a>
                                </li>
                            </ul>
                            <a href="inbox.html" title="">See All Messages</a>
                        </div>
                        <!-- Message Drop List -->
                    </li>
                    <li class="notification-list dropdown">
                        <span><i class="fa fa-envelope-o"></i><strong class="red-bg">12</strong></span>
                        <div class="notification drop-list">
                            <span>You have 3 New Notifications</span>
                            <ul>
                                <li>
                                    <a href="javascript:void(0)" title=""><span><i class="ti-pulse red-bg"></i></span>Server 3 is Over Loader Please Check... <h6>2 min ago..</h6></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" title=""><span><img src="http://placehold.it/40x40" alt="" /></span><i>MD Daisal</i>New User Registered<h6>4 min ago..</h6><p class="status red-bg">Urgent</p></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" title=""><span><i class="ti-crown green-bg"></i></span>Envato Has change the policies<h6>7 min ago..</h6></a>
                                </li>
                            </ul>
                            <a href="javascript:void(0)" title="">See All Notifications</a>
                        </div>
                        <!-- Notification Drop list -->
                    </li>
                    <li class="activity-list dropdown">
                        <span><i class="fa fa-bug"></i><strong class="blue-bg">12</strong></span>
                        <div class="activity drop-list">
                            <span>Recent Activity</span>
                            <ul>
                                <li>
                                    <a href="javascript:void(0)" title=""><span><img src="http://placehold.it/40x40" alt="" /></span><i>Jona Than</i>Uploading new files<h6>2 min ago..</h6><p class="status green-bg">Online</p></a>
                                    <div class="progress">
                                        <div style="width: 60%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar blue-bg">
                                            60%
                                        </div> 
                                    </div>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" title=""><span><img src="http://placehold.it/40x40" alt="" /></span><i>Bela Nisaa</i>Downloading new Documents<h6>2 min ago..</h6></a>
                                    <div class="progress">
                                        <div style="width: 34%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="34" role="progressbar" class="progress-bar red-bg">
                                            34%
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <a href="javascript:void(0)" title="">See All Activity</a>
                        </div>
                        <!-- Activity Drop list -->
                    </li>
                </ul>
                <span class="open-panel"><i class="fa fa-cog fa-spin"></i></span>
                <!-- <span><a href="/logout" class="icon-btn"><i class="fa fa-flask blue-bg"></i> logout</a></span> -->
                <!-- <span><i class="fa fa-arrows-alt"><a href="/logout"></a></i></span>  -->
                <div class="name-area">
                    <a href="/user/show/<%= req.session.User.id %>" title=""><img src="http://placehold.it/100x100" alt="" /> <strong><%= req.session.User.name %></strong></a>
                </div>
                
            </div>
        </div>
        <!-- Top Bar -->
        <div class="side-menu-sec" id="header-scroll">

                <div class="quick-report-side">
                        <span>TODAY REPORT</span>
                        <ul>
                             <li><div><strong>0</strong><span>Reservations</span></div></li>
                             <li><div><strong>0</strong><span>Orders</span></div></li>
                             <li><div><strong>$0</strong><span>Earn</span></div></li>
                        </ul>
                   </div>
            
            <div class="side-menus">
                <span>MAIN LINKS</span>
                <nav>
                    <ul class="parent-menu">
                        <li class="menu-item-has-children">
                            <a title=""><i class="fa fa-users"></i><span>Users <i class="badge red-bg">HOT</i></span></a>
                            <ul>
                                <li><a href="/dashboard/users-list" title="">All Users List</a></li>
                                <li><a href="/dashboard/users-add" title="">Add New User</a></li>
                                <!-- <li><a href="index3.html">Dashboard 3</a></li>
                                <li><a href="index4.html">Dashboard 4</a></li> -->
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a title=""><i class="ti-email"></i><span>Mail Box <i class="badge blue-bg">2 Unread</i></span></a>
                            <ul>
                                <li><a href="#">Inbox</a></li>
                                <li><a href="#">Compose Email</a></li>
                            </ul>
                        </li>

                        <li class="menu-item-has-children">
                            <a title=""><i class="fa fa-free-code-camp"></i><span>Activities </span></a>
                            <ul>
                                <li><a href="/dashboard/activity" title="">All activities</a></li>
                                <li><a href="/dashboard/activity/create" title="">Create New activities</a></li>
                            </ul>
                        </li>

                        <li class="menu-item-has-children">
                            <a title=""><i class="fa fa-id-card"></i><span>Reservations </span></a>
                            <ul>
                                <li><a href="/dashboard/reservations" title="">All Reservations</a></li>
                                <li><a href="/dashboard/reservation/add" title="">Add New Reservation</a></li>
                            </ul>
                        </li>

                        <li class="menu-item-has-children">
                            <a title=""><i class="ti-image"></i><span>Pictures </span></a>
                            <ul>
                                <li><a href="/dashboard/pictures" title="">All Pictures</a></li>
                                <li><a href="/dashboard/pictures/add" title="">Add New Picture</a></li>
                            </ul>
                        </li>

                        <!-- <li class="menu-item-has-children">
                            <a title=""><i class="ti-paint-roller"></i><span>Icons</span></a>
                            <ul>
                                <li><a href="font-awesome.html">Font Awesome</a></li>
                                <li><a href="themify-icons.html">Themify Icons</a></li>
                                <li><a href="skycons.html">Skycons Weather Icons</a></li>
                            </ul>
                        </li>
                        

                        <li class="menu-item-has-children">
                            <a title=""><i class="ti-rocket"></i><span>Extras</span></a>
                            <ul>
                                <li><a href="forgot-password.html">Forgot Password</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="register.html">Sign up</a></li>
                                <li><a href="lockscreen.html">Lockscreen</a></li>
                            </ul>
                        </li> -->
                    </ul>
                </nav>
                <span class="footer-line">2017 Copyright Xtrem by <a title="" href="http://xtrem.sur.paris">XTREM</a></span>
            </div>
        </div>
    </header>
    <div class="slide-panel" id="panel-scroll">
         <ul role="tablist" class="nav nav-tabs panel-tab-btn">
            <li class="active"><a data-toggle="tab" role="tab" data-target="#panel-tab1"><i class="ti-settings"></i><span>Your Settings</span></a></li>
            <!-- <li><a data-toggle="tab" role="tab" data-target="#panel-tab2"><i class="ti-settings"></i><span>Your Setting</span></a></li> -->
        </ul> 
        <div class="tab-content panel-tab">
             <div id="panel-tab1" class="tab-pane fade in active">
                <div class="recent-mails-widget">
                    
                    <ul id="mail-list" class="mail-list">
                        <li>
                            <div class="toggle-setting">
                            <a class="icon-btn" href="/logout"><i class="fa fa-bolt red-bg"></i>Logout</a>
                        </div>
                        </li>
                       
                        
                    </ul>
                </div>
      
            </div> 

<!-- 

            <div id="panel-tab2" class="tab-pane fade">
                <div class="setting-widget">
                     <form>
                        <h3>Accounts</h3>
                        <div class="toggle-setting">
                            <span>Office Account</span>
                            <label class="toggle-switch">                               
                                   <input type="checkbox">
                                   <span data-unchecked="Off" data-checked="On"></span>
                              </label>
                        </div>
                        <div class="toggle-setting">
                            <span>Personal Account</span>
                            <label class="toggle-switch">                               
                                   <input type="checkbox" checked>
                                   <span data-unchecked="Off" data-checked="On"></span>
                              </label>
                        </div>
                        <div class="toggle-setting">
                            <span>Business Account</span>
                            <label class="toggle-switch">                               
                                   <input type="checkbox">
                                   <span data-unchecked="Off" data-checked="On"></span>
                              </label>
                        </div>
                    </form> 

                    <form>
                        <h3>General Setting</h3>
                         <div class="toggle-setting">
                            <span>Notifications</span>
                            <label class="toggle-switch">                               
                                   <input type="checkbox" checked>
                                   <span data-unchecked="Off" data-checked="On"></span>
                              </label>
                        </div>
                        <div class="toggle-setting">
                            <span>Notification Sound</span>
                            <label class="toggle-switch">                               
                                   <input type="checkbox" checked>
                                   <span data-unchecked="Off" data-checked="On"></span>
                              </label>
                        </div>
                        <div class="toggle-setting">
                            <span>My Profile</span>
                            <label class="toggle-switch">                               
                                   <input type="checkbox">
                                   <span data-unchecked="Off" data-checked="On"></span>
                              </label>
                        </div>
                        <div class="toggle-setting">
                            <span>Show Online</span>
                            <label class="toggle-switch">                               
                                   <input type="checkbox">
                                   <span data-unchecked="Off" data-checked="On"></span>
                              </label>
                        </div>
                        <div class="toggle-setting">
                            <span>Public Profile</span>
                            <label class="toggle-switch">                               
                                   <a href="/logout"></a>
                                   <span data-unchecked="Off" data-checked="On"></span>
                              </label>
                        </div> 
                        
                    </form>
                </div>
                
            </div> -->



            
        </div>
    </div>
    <!-- Slide Panel -->
    <div class="main-content">
        <div class="panel-content">
            <div class="main-title-sec">
                <div class="row">
                    <div class="col-md-3 column">
                        <div class="heading-profile">
                            <h2>Admin Page</h2>
                            <span>Welcome back, <%= req.session.User.name %></span>
                        </div>
                    </div>
                    <!-- <div class="col-md-9 column"> -->
                        <!-- <div class="top-bar-chart">
                            <div class="bar-chart-details">
                                <p>New User</p>
                                <h5>0</h5>
                            </div>
                            <span id="new-orders" class="sparkline">0,0,0,0,0,0,0,0,0,0</span>
                        </div> -->
                        
                        <!-- <div class="quick-btn-title">
                            <a href="javascript:void(0)" title=""><i class="fa fa-plus"></i> New Tasks</a>
                            <a href="javascript:void(0)" title=""><i class="fa fa-cloud-upload"></i> Upload Files</a>
                        </div> -->
                    <!-- </div> -->
                </div>
            </div>
            <!-- Heading Sec -->
            <ul class="breadcrumbs">
                <li><a href="/dashboard" title="">Home</a></li>
                <!-- <li>Blank</li> -->
            </ul>
            <div class="main-content-area">
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget blank">
                            <%- body %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Panel Content -->
    </div>

    <!-- Vendor: Javascripts -->
    <script src="/js/dependencies/sails.io.js"></script>
    <!-- Simply include the sails.io.js script, and a client socket will be created for you -->
    <script type="text/javascript">
    socket = io.connect();
    typeof console !== 'undefined' &&
    console.log('Connecting Socket.io to Sails.js...');
    
    // Attach a listener which fires when a connection is established:
    socket.on('connect', function socketConnected() {
    
      typeof console !== 'undefined' &&
      console.log(
        'Socket is now connected and globally accessible as `socket`.\n' +
        'e.g. to send a GET request to Sails via Socket.io, try: \n' +
        '`socket.get("/foo", function (response) { console.log(response); })`'
      );
    
      // Attach a listener which fires every time the server publishes a message:
      socket.on('message', function newMessageFromSails ( message ) {
    
        typeof console !== 'undefined' &&
        console.log('New message received from Sails ::\n', message);
    
      });
    });
    </script>

    <script src="/js/dependencies/0.jquery-2.1.3.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyDrlCWSCEGTYat1yFIybvtjXe6v24wXY04" async="" type="text/javascript">
    </script>
    <script>
    $('#sandbox-container input').datepicker({
        startDate: "today",
        clearBtn: true,
        language: "fr",
        // multidate: true,
        todayHighlight: true
    });
    </script>

    <!-- Our Website Javascripts -->
    <script src="/js/admin/app.js"></script>
    <script src="/js/admin/common.js"></script>
    <script src="/js/admin/home2.js"></script>

</body>

</html>