<!-- <form action="/session/create" method="POST" class="form-signin">
    <div class="control-group">
        <div class="form-control">
        </div>
    </div>
    <div class="control-group">
        <input type="text" class="form-control" placeholder="your email" name="email">
    </div>
    <div class="control-group">
        <input type="text" class="form-control" placeholder="your pass" name="password">
    </div>
    
    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Account"/>
    <input type="hidden" name="_csrf" value="<%= _csrf %>">
</form> -->

<div class="account-user-sec">
     <div class="account-sec">
          <div class="account-top-bar">
               <div class="container">
                     <div class="logo">
                       <a href="/" title=""><i class="fa fa-bullseye"></i> Xtrem </a>
                   </div>
                   <ul class="account-header-link">
                    <li><a title="" href="/register">Register</a></li>
                    <li><a title="" href="#/forgot-password">Forgot Your Password</a></li>
                   </ul>
               </div>
          </div>
          <div class="acount-sec">
               <div class="container">
                    <div class="row">
                         <!-- <div class="col-md-4">
                              <div class="account-detail">
                                   <ul>
                                        <li>
                                             <h3><i class="fa  fa-television"></i>  Keep everything Sync</h3>
                                             <p>Dnim eiusmod high life accusamus terry </br>richardson ado squid.</p>
                                        </li>
                                        <li>
                                             <h3><i class="fa fa-map-o"></i> Emails & Calendars is with you</h3>
                                             <p>Dnim eiusmod high life accusamus terry </br>richardson ado squid.</p>
                                        </li>
                                        <li>
                                             <h3><i class="fa  fa-send-o"></i> Simple Elegant & Super Fast</h3>
                                             <p>Dnim eiusmod high life accusamus terry </br>richardson ado squid.</p>
                                        </li>
                                   </ul>
                              </div>
                         </div> -->
                         <div class="col-md-12">
                              <div class="contact-sec">
                                   <div class="row">
                                        <div class="col-md-6">   
                                             <div class="widget-title">
                                                  <span>Fill your detail to get in</span>
                                             </div><!-- Widget title -->
                                             <div class="account-form">
                                                  <form action="/login" method="POST">
                                                       <div class="row">
                                                            <div class="feild col-md-12">
                                                                 <input type="text" placeholder="enter your email" name="email"/>
                                                            </div>
                                                            <div class="feild col-md-12">
                                                                 <input type="password" placeholder="enter your password" name="password"/>
                                                            </div>
                                                            <div class="feild col-md-12">
                                                                 <input type="submit" value="Login Now" />
                                                            </div>
                                                            <input type="hidden" name="_csrf" value="<%= _csrf %>">
                                                       </div>
                                                  </form>
                                             </div>
                                             <div class="more-option">
                                                  <span>OR</span>
                                             </div>
                                        </div>
                                        <div class="col-md-6">
                                             <div class="creat-an-account">
                                                  <span>Don't have an account?</span>
                                                  <a href="/register" title="">Create Account</a>
                                             </div><!-- Create an account -->
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div><!-- Account Sec -->
</div>