<!-- footer -->
<div class="footer">
    <div class="footer_agile_inner_info_w3l">
        <div class="col-md-3 footer-left">
            <h2>
                <a href="/">
                    <span>S</span>uivez-nous !</a>
            </h2>
            <p>Suivez-nous en temps réel pour suivre l'ensemble des nouvelles activités que nous vous proposons. </p>
            <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
                <li>
                    <a href="#" class="facebook">
                        <div class="front">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </div>
                        <div class="back">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="twitter">
                        <div class="front">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </div>
                        <div class="back">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="instagram">
                        <div class="front">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </div>
                        <div class="back">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="pinterest">
                        <div class="front">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </div>
                        <div class="back">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-9 footer-right">
            <div class="sign-grds">
                <div class="col-md-4 sign-gd">
                    <h4>Informations </h4>
                    <ul>
                        <li>
                            <a href="/about">A propos</a>
                        </li>
                        <li>
                            <a href="/cgv">Conditions générales de ventes</a>
                        </li>
                        <li>
                            <a href="/mentions-legales">Mentions légales</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-5 sign-gd-two">
                    <h4>Contactez
                        <span>-nous </span>
                    </h4>
                    <div class="w3-address">
                        <div class="w3-address-grid">
                            <div class="w3-address-left">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <div class="w3-address-right">
                                <h6>Téléphone</h6>
                                <p>05 45 62 78 39</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="w3-address-grid">
                            <div class="w3-address-left">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            <div class="w3-address-right">
                                <h6>Adresse Email </h6>
                                <p>Email :
                                    <a href="mailto:example@email.com"> contact@soextreme.fr</a>
                                </p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="w3-address-grid">
                            <div class="w3-address-left">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                            <div class="w3-address-right">
                                <h6>Location</h6>
                                <p>Route de Napoléon, CASTELLANE, 04120

                                </p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 sign-gd flickr-post">

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="agile_newsletter_footer">
            <div class="col-sm-6 newsleft">
                <h3>Inscrivez-vous à notre newsletter !</h3>
            </div>
            <div class="col-sm-6 newsright">
                <form action="#" method="post">
                    <input type="email" placeholder="email..." name="email" required="">
                    <input type="submit" value="Envoyer">
                </form>
            </div>

            <div class="clearfix"></div>
        </div>
        <p class="copy-right">&copy 2017 So'Extreme. All rights reserved</p>
    </div>
</div>
<!-- //footer -->
<!-- //footer -->