<div class="header" id="home">
    <% if (session.authenticated) {%>
        <div class="container">
            <ul>
                <li>
                    <a href="/user/show/<%= req.session.User.id %>">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i> View profile </a>
                </li>
                <li>
                    <a href="/logout">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>logout</a>
                </li>
                <li>
                    <i class="fa fa-phone" aria-hidden="true"></i> Call : 05 45 62 78 39</li>
                <li>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <a href="mailto:contact@soextreme.fr">contact@soextreme.fr</a>
                </li>
            </ul>
        </div>
    <% }%>
    <% if (!session.authenticated) {%>
        <div class="container">
            <ul>
                <li>
                    <a href="#" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i> Connexion </a>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#myModal2">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Inscription </a>
                </li>
                <li>
                    <i class="fa fa-phone" aria-hidden="true"></i> Contactez-nous : 05 45 62 78 39</li>
                <li>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <a href="mailto:contact@soextreme.fr">contact@soextreme.fr</a>
                </li>
            </ul>
        </div>
    <% }%>
    
</div>
<!-- //header -->
<!-- header-bot -->
<div class="header-bot">
    <div class="header-bot_inner_wthreeinfo_header_mid">
        <div class="col-md-4 header-middle">
            <form action="#" method="post">
                <input type="search" name="search" placeholder="Recherchez ..." required="">
                <input type="submit" value=" ">
                <div class="clearfix"></div>
            </form>
        </div>
        <!-- header-bot -->
        <div class="col-md-4 logo_agile">
            <h1>
                <a href="/">
                    <img src="logo.png" alt="" width="150" /> </a>
            </h1>
        </div>
        <!-- header-bot -->
        <div class="col-md-4 agileits-social top_content">
            <div class="mail-agileits-w3layouts" style="float:right;">
                <% if (session.authenticated) {%>
                    <a href="/user/show/<%= req.session.User.id %>">
                        <i class="fa fa-user" aria-hidden="true" style="margin-right:15px;"></i>
                    </a>
                <% }%>
                
                <a href="/view-cart">
                    <i class="fa fa-shopping-cart" aria-hidden="true" style="margin-right:15px;">
                        
                    </i>
                </a>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //header-bot -->
<!-- banner -->
<div class="ban-top">
    <div class="container">
        <div class="top_nav_left">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav menu__list">
                            <li class="active menu__item menu__item--current">
                                <a class="menu__link" href="/">Accueil
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="dropdown menu__item">
                                <a href="/mer" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">En mer
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <div class="agile_inner_drop_nav_info">
                                        <div class="col-sm-6 multi-gd-img1 multi-gd-text ">
                                            <a href="mens.html">
                                                <img src="images/top2.jpg" alt=" " />
                                            </a>
                                        </div>
                                        <div class="col-sm-3 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                <li>
                                                    <a href="mens.html">Clothing</a>
                                                </li>
                                                <li>
                                                    <a href="mens.html">Wallets</a>
                                                </li>
                                                <li>
                                                    <a href="mens.html">Footwear</a>
                                                </li>
                                                <li>
                                                    <a href="mens.html">Watches</a>
                                                </li>
                                                <li>
                                                    <a href="mens.html">Accessories</a>
                                                </li>
                                                <li>
                                                    <a href="mens.html">Bags</a>
                                                </li>
                                                <li>
                                                    <a href="mens.html">Caps & Hats</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                <li>
                                                    <a href="mens.html">Jewellery</a>
                                                </li>
                                                <li>
                                                    <a href="mens.html">Sunglasses</a>
                                                </li>
                                                <li>
                                                    <a href="mens.html">Perfumes</a>
                                                </li>
                                                <li>
                                                    <a href="mens.html">Beauty</a>
                                                </li>
                                                <li>
                                                    <a href="mens.html">Shirts</a>
                                                </li>
                                                <li>
                                                    <a href="mens.html">Sunglasses</a>
                                                </li>
                                                <li>
                                                    <a href="mens.html">Swimwear</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>
                            <li class="dropdown menu__item">
                                <a href="/terre" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sur terre
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <div class="agile_inner_drop_nav_info">
                                        <div class="col-sm-3 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                <li>
                                                    <a href="womens.html">Clothing</a>
                                                </li>
                                                <li>
                                                    <a href="womens.html">Wallets</a>
                                                </li>
                                                <li>
                                                    <a href="womens.html">Footwear</a>
                                                </li>
                                                <li>
                                                    <a href="womens.html">Watches</a>
                                                </li>
                                                <li>
                                                    <a href="womens.html">Accessories</a>
                                                </li>
                                                <li>
                                                    <a href="womens.html">Bags</a>
                                                </li>
                                                <li>
                                                    <a href="womens.html">Caps & Hats</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                <li>
                                                    <a href="womens.html">Jewellery</a>
                                                </li>
                                                <li>
                                                    <a href="womens.html">Sunglasses</a>
                                                </li>
                                                <li>
                                                    <a href="womens.html">Perfumes</a>
                                                </li>
                                                <li>
                                                    <a href="womens.html">Beauty</a>
                                                </li>
                                                <li>
                                                    <a href="womens.html">Shirts</a>
                                                </li>
                                                <li>
                                                    <a href="womens.html">Sunglasses</a>
                                                </li>
                                                <li>
                                                    <a href="womens.html">Swimwear</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6 multi-gd-img multi-gd-text ">
                                            <a href="womens.html">
                                                <img src="images/top1.jpg" alt=" " />
                                            </a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>
                            <li class="menu__item dropdown">
                                <a class="menu__link" href="/air" class="dropdown-toggle" data-toggle="dropdown">Dans les airs
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu agile_short_dropdown">
                                    <li>
                                        <a href="icons.html">Web Icons</a>
                                    </li>
                                    <li>
                                        <a href="typography.html">Typography</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!-- <div class="top_nav_right">
            <% if (session.authenticated) {%>
                <div class="wthreecartaits wthreecartaits2 cart cart box_1">
                    <form action="#" method="post" class="last">
                        <input type="hidden" name="cmd" value="_cart">
                        <input type="hidden" name="display" value="1">
                        <button class="w3view-cart" type="submit" name="submit" value="">
                            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                        </button>
                    </form>
                
                </div>
            <% }%>
            
        </div> -->
        <div class="clearfix"></div>
    </div>
</div>
<!-- //banner-top -->
<!-- Modal1 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body modal-body-sub_agile">
                <div class="col-md-8 modal_body_left modal_body_left1">
                    <h3 class="agileinfo_sign">Connectez-vous
                        <!-- <span>Now</span> -->
                    </h3>
                    <form action="/login" method="POST">
                        <div class="styled-input agile-styled-input-top">
                            <input type="text" name="email" required="">
                            <label>Email</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
                            <input type="password" name="password" required="">
                            <label>Mot de passe</label>
                            <span></span>
                        </div>
                        <input type="submit" value="Sign In">
                    </form>
                    <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
                        <li>
                            <a href="#" class="facebook">
                                <div class="front">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </div>
                                <div class="back">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="twitter">
                                <div class="front">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </div>
                                <div class="back">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="instagram">
                                <div class="front">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </div>
                                <div class="back">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="pinterest">
                                <div class="front">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </div>
                                <div class="back">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                    <p>
                        <a href="#" data-toggle="modal" data-target="#myModal2"> Don't have an account?</a>
                    </p>

                </div>
                <div class="col-md-4 modal_body_right modal_body_right1">
                    <img src="images/log_pic.png" alt=" " />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //Modal content-->
    </div>
</div>
<!-- //Modal1 -->
<!-- Modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body modal-body-sub_agile">
                <div class="col-md-8 modal_body_left modal_body_left1">
                    <h3 class="agileinfo_sign">Créer un compte
                        <!-- <span>Now</span> -->
                    </h3>
                    <form action="/user/create" method="POST">
                        <div class="styled-input agile-styled-input-top">
                            <input type="text" name="lastname" required="">
                            <label>Nom</label>
                            <span></span>
                        </div>
                        <div class="styled-input agile-styled-input-top">
                            <input type="text" name="firstname" required="">
                            <label>Prenom</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
                            <input type="email" name="email" required="">
                            <label>Email</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
                            <input type="password" name="password" required="">
                            <label>Mot de passe</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
                            <input type="password" name="Confirm Password" required="">
                            <label>Confirmer le mot de passe</label>
                            <span></span>
                        </div>
                        <input type="hidden" name="_csrf" value="<%= _csrf %>">
                        <input type="submit" value="S'enregistrer">
                    </form>
                    <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
                        <li>
                            <a href="#" class="facebook">
                                <div class="front">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </div>
                                <div class="back">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="twitter">
                                <div class="front">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </div>
                                <div class="back">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="instagram">
                                <div class="front">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </div>
                                <div class="back">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="pinterest">
                                <div class="front">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </div>
                                <div class="back">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                    <!-- <p>
                        <a href="#">By clicking register, I agree to your terms</a>
                    </p> -->

                </div>
                <div class="col-md-4 modal_body_right modal_body_right1">
                    <img src="images/log_pic.png" alt=" " />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //Modal content-->
    </div>
</div>
<!-- //Modal2 -->