<form method="POST" action="/dashboard/pictures/create" enctype="multipart/form-data">
    <div id="step-1">
        <h2 class="StepTitle">Add new Picture(s)</h2>
        <div class="col-md-12">
            <div class="inline-form">
                <label class="c-label">Description</label><input type="text" placeholder="description" name="description" required/>
            </div>
        </div>
        <div class="col-md-12">
            <div class="inline-form">
                <label class="c-label">Category</label>
                <select id="interestedin" name="category">
                    <option selected>Select the category</option>
                    <option value="Photography">Photos</option>
                    <option value="Video">Videos</option>
                    <option value="Design">Design</option>
                    <option value="Developpement">Developpement</option>
                </select>
            </div>
        </div>  
        <div class="col-md-12">
            <div class="inline-form">
                <label class="c-label">Cover Picture</label><input type="file" name="file" id="image_file" multiple/>
            </div>
        </div>
        <div class="col-md-6" style="margin-top: 10px;">
            <button class="btn green-bg btn-default" type="submit">Submit</button>
        </div>
    </div>
</form>