<div class="main-content-area">
    <div class="gallery-sec">
         <div class="row">
             <h1>pictures</h1>
            <% for (var i = 0; i < pictures.length; i++ ){%>
              <div class="col-md-3">
                   <div class="gallery-box">
                        <img src="/uploaded/documents/<%= pictures[i].source %>" alt="" />
                        <div class="gallery-detail">
                             <a href="/uploaded/documents/<%= pictures[i].source %>" title=""><i class="fa fa-search"></i></a>
                             <h3><%= pictures[i].description %></h3>
                        </div>
                   </div><!-- Gallery Box -->
              </div>
            <% } %>
         </div>
    </div>
</div>