
<!-- banner -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    <li data-target="#myCarousel" data-slide-to="3" class=""></li>
    <li data-target="#myCarousel" data-slide-to="4" class=""></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="container">
        <div class="carousel-caption">
          <h3>The Biggest
            <span>Sale</span>
          </h3>
          <p>Special for today</p>
          <a class="hvr-outline-out button2" href="mens.html">Shop Now </a>
        </div>
      </div>
    </div>
    <div class="item item2">
      <div class="container">
        <div class="carousel-caption">
          <h3>Summer
            <span>Collection</span>
          </h3>
          <p>New Arrivals On Sale</p>
          <a class="hvr-outline-out button2" href="mens.html">Shop Now </a>
        </div>
      </div>
    </div>
    <div class="item item3">
      <div class="container">
        <div class="carousel-caption">
          <h3>The Biggest
            <span>Sale</span>
          </h3>
          <p>Special for today</p>
          <a class="hvr-outline-out button2" href="mens.html">Shop Now </a>
        </div>
      </div>
    </div>
    <div class="item item4">
      <div class="container">
        <div class="carousel-caption">
          <h3>Summer
            <span>Collection</span>
          </h3>
          <p>New Arrivals On Sale</p>
          <a class="hvr-outline-out button2" href="mens.html">Shop Now </a>
        </div>
      </div>
    </div>
    <div class="item item5">
      <div class="container">
        <div class="carousel-caption">
          <h3>The Biggest
            <span>Sale</span>
          </h3>
          <p>Special for today</p>
          <a class="hvr-outline-out button2" href="mens.html">Shop Now </a>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!-- The Modal -->
</div>
<!-- //banner -->
<!-- <div class="banner_bottom_agile_info">
  <div class="container">
    <div class="banner_bottom_agile_info_inner_w3ls">
      <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
        <figure class="effect-roxy">
          <img src="images/bottom1.jpg" alt=" " class="img-responsive" />
          <figcaption>
            <h3>
              <span>F</span>all Ahead</h3>
            <p>New Arrivals</p>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
        <figure class="effect-roxy">
          <img src="images/bottom2.jpg" alt=" " class="img-responsive" />
          <figcaption>
            <h3>
              <span>F</span>all Ahead</h3>
            <p>New Arrivals</p>
          </figcaption>
        </figure>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div> -->
<!-- schedule-bottom -->
<div class="schedule-bottom">
  <div class="col-md-6 agileinfo_schedule_bottom_left">
    <img src="images/mid.jpg" alt=" " class="img-responsive" />
  </div>
  <div class="col-md-6 agileits_schedule_bottom_right">
    <div class="col-md-6 agileits_schedule_bottom_right">
      <div class="w3ls_schedule_bottom_right_grid">
        <h3>Au total
          <span>50%</span> nous ont fait confiance !</h3>
        <p>Soyez les suivants, que ce soit en mer, dans les air ou sur la terre, profitez vous aussi d'activités de qualitées.</p>
        <div class="col-md-4 w3l_schedule_bottom_right_grid1">
          <i class="fa fa-tint" aria-hidden="true"></i>
          <h4>En mer</h4>
          <h5 class="counter">653</h5>
        </div>
        <div class="col-md-4 w3l_schedule_bottom_right_grid1">
          <i class="fa fa-plane" aria-hidden="true"></i>
          <h4>Dans les airs</h4>
          <h5 class="counter">823</h5>
        </div>
        <div class="col-md-4 w3l_schedule_bottom_right_grid1">
          <i class="fa fa-bicycle" aria-hidden="true"></i>
          <h4>Sur terre</h4>
          <h5 class="counter">45</h5>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <div class="clearfix"> </div>
</div>
<!-- //schedule-bottom -->
<!-- banner-bootom-w3-agileits -->
<div class="banner-bootom-w3-agileits">
  <div class="container">
    <h3 class="wthree_text_info">Meilleures
      <span>ventes</span>
    </h3>

    <div class="col-md-5 bb-grids bb-left-agileits-w3layouts">
      <a href="womens.html">
        <div class="bb-left-agileits-w3layouts-inner grid">
          <figure class="effect-roxy">
            <img src="images/bb1.jpg" alt=" " class="img-responsive" />
            <figcaption>
								<h3><span>M</span>otos</h3>
								<p>150€</p>
							</figcaption>
          </figure>
        </div>
      </a>
    </div>
    <div class="col-md-7 bb-grids bb-middle-agileits-w3layouts">
      <a href="mens.html">
        <div class="bb-middle-agileits-w3layouts grid">
          <figure class="effect-roxy">
            <img src="images/bottom3.jpg" alt=" " class="img-responsive" />
            <figcaption>
								<h3><span>P</span>arachute </h3>
								<p>135€</p>
							</figcaption>
          </figure>
        </div>
      </a>
      <a href="mens.html">
        <div class="bb-middle-agileits-w3layouts forth grid">
          <figure class="effect-roxy">
            <img src="images/bottom4.jpg" alt=" " class="img-responsive">
            <figcaption>
								<h3><span>P</span>arachute </h3>
								<p>135€</p>
							</figcaption>
          </figure>
        </div>
      </a>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--/grids-->

<!--/grids-->
<!-- /new_arrivals -->
<div class="new_arrivals_agile_w3ls_info">
  <div class="container">
    <h3 class="wthree_text_info">Nouvelles
      <span>activités</span>
    </h3>
    <div id="horizontalTab">
      <ul class="resp-tabs-list">
        <li> Air</li>
        <li> Terre</li>
        <li> Eau</li>
        <li> Simulations</li>
      </ul>
      <div class="resp-tabs-container">
        <!--/tab_one-->
        <div class="tab1">

          <% if(activities.air.length > 0){ %>
            <% for (var i = 0; i < activities.air.length; i++ ){%>

              <div class="col-md-3 product-men">
                <div class="men-pro-item simpleCart_shelfItem">
                  <div class="men-thumb-item">
                    <img src="<%= activities.air[i].cover %>" alt="" class="pro-image-front">
                    <img src="<%= activities.air[i].cover %>" alt="" class="pro-image-back">
                    <div class="men-cart-pro">
                      <div class="inner-men-cart-pro">
                        <a href="/activity/showresa/<%= activities.air[i].id %>" class="link-product-add-cart">Quick View</a>
                      </div>
                    </div>
                    <span class="product-new-top">New</span>

                  </div>
                  <div class="item-info-product ">
                    <h4>
                      <a href="/activity/showresa/<%= activities.air[i].id %>">
                        <%= activities.air[i].name %>
                      </a>
                    </h4>
                    <div class="info-product-price">
                      <span class="item_price"><%= activities.simulation[i].price %>€</span>
                      
                    </div>
                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                      <form action="#" method="post">
                        <fieldset>
                          <input type="hidden" name="cmd" value="_cart" />
                          <input type="hidden" name="add" value="1" />
                          <input type="hidden" name="business" value=" " />
                          <input type="hidden" name="item_name" value="<%= activities.air[i].name %>" />
                          <input type="hidden" name="amount" value="30.99" />
                          <input type="hidden" name="discount_amount" value="1.00" />
                          <input type="hidden" name="currency_code" value="USD" />
                          <input type="hidden" name="return" value=" " />
                          <input type="hidden" name="cancel_return" value=" " />
                          <input type="submit" name="submit" value="Add to cart" class="button" />
                        </fieldset>
                      </form>
                    </div>

                  </div>
                </div>
              </div>
              <% } %>
                <% } else { %>
                  <span>Aucunes activités pour le moment.</span>
                  <% } %>

                    <div class="clearfix"></div>
        </div>
        <!--//tab_one-->


        <!--/tab_two-->
        <div class="tab2">
          <% if(activities.terre.length > 0){ %>
            <% for (var i = 0; i < activities.terre.length; i++ ){%>

              <div class="col-md-3 product-men">
                <div class="men-pro-item simpleCart_shelfItem">
                  <div class="men-thumb-item">
                    <img src="<%= activities.terre[i].cover %>" alt="" class="pro-image-front">
                    <img src="<%= activities.terre[i].cover %>" alt="" class="pro-image-back">
                    <div class="men-cart-pro">
                      <div class="inner-men-cart-pro">
                        <a href="/activity/showresa/<%= activities.terre[i].id %>" class="link-product-add-cart">Quick View</a>
                      </div>
                    </div>
                    <span class="product-new-top">New</span>

                  </div>
                  <div class="item-info-product ">
                    <h4>
                      <a href="/activity/showresa/<%= activities.terre[i].id %>">
                        <%= activities.terre[i].name %>
                      </a>
                    </h4>
                    <div class="info-product-price">
                      <span class="item_price"><%= activities.simulation[i].price %>€</span>
                      
                    </div>
                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                      <form action="#" method="post">
                        <fieldset>
                          <input type="hidden" name="cmd" value="_cart" />
                          <input type="hidden" name="add" value="1" />
                          <input type="hidden" name="business" value=" " />
                          <input type="hidden" name="item_name" value="<%= activities.terre[i].name %>" />
                          <input type="hidden" name="amount" value="30.99" />
                          <input type="hidden" name="discount_amount" value="1.00" />
                          <input type="hidden" name="currency_code" value="USD" />
                          <input type="hidden" name="return" value=" " />
                          <input type="hidden" name="cancel_return" value=" " />
                          <input type="submit" name="submit" value="Add to cart" class="button" />
                        </fieldset>
                      </form>
                    </div>

                  </div>
                </div>
              </div>
              <% } %>
                <% } else { %>
                  <span>Aucunes activités pour le moment.</span>
                  <% } %>
                    <div class="clearfix"></div>
        </div>
        <!--//tab_two-->

        <!-- TAB3 -->
        <div class="tab3">

          <% if(activities.eau.length > 0){ %>
            <% for (var i = 0; i < activities.eau.length; i++ ){%>

              <div class="col-md-3 product-men">
                <div class="men-pro-item simpleCart_shelfItem">
                  <div class="men-thumb-item">
                    <img src="<%= activities.eau[i].cover %>" alt="" class="pro-image-front">
                    <img src="<%= activities.eau[i].cover %>" alt="" class="pro-image-back">
                    <div class="men-cart-pro">
                      <div class="inner-men-cart-pro">
                        <a href="/activity/showresa/<%= activities.eau[i].id %>" class="link-product-add-cart">Quick View</a>
                      </div>
                    </div>
                    <span class="product-new-top">New</span>

                  </div>
                  <div class="item-info-product ">
                    <h4>
                      <a href="/activity/showresa/<%= activities.eau[i].id %>">
                        <%= activities.eau[i].name %>
                      </a>
                    </h4>
                    <div class="info-product-price">
                      <span class="item_price"><%= activities.simulation[i].price %>€</span>
                      
                    </div>
                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                      <form action="#" method="post">
                        <fieldset>
                          <input type="hidden" name="cmd" value="_cart" />
                          <input type="hidden" name="add" value="1" />
                          <input type="hidden" name="business" value=" " />
                          <input type="hidden" name="item_name" value="<%= activities.eau[i].name %>" />
                          <input type="hidden" name="amount" value="30.99" />
                          <input type="hidden" name="discount_amount" value="1.00" />
                          <input type="hidden" name="currency_code" value="USD" />
                          <input type="hidden" name="return" value=" " />
                          <input type="hidden" name="cancel_return" value=" " />
                          <input type="submit" name="submit" value="Add to cart" class="button" />
                        </fieldset>
                      </form>
                    </div>

                  </div>
                </div>
              </div>
              <% } %>
                <% } else { %>
                  <span>Aucunes activités pour le moment.</span>
                  <% } %>
                    <div class="clearfix"></div>
        </div>
        <!-- //tab3 -->
        <!-- tab4 -->
        <div class="tab4">
          <% if(activities.simulation.length > 0){ %>
            <% for (var i = 0; i < activities.simulation.length; i++ ){%>

              <div class="col-md-3 product-men">
                <div class="men-pro-item simpleCart_shelfItem">
                  <div class="men-thumb-item">
                    <img src="<%= activities.simulation[i].cover %>" alt="" class="pro-image-front">
                    <img src="<%= activities.simulation[i].cover %>" alt="" class="pro-image-back">
                    <div class="men-cart-pro">
                      <div class="inner-men-cart-pro">
                        <a href="/activity/showresa/<%= activities.simulation[i].id %>" class="link-product-add-cart">Quick View</a>
                      </div>
                    </div>
                    <span class="product-new-top">New</span>

                  </div>
                  <div class="item-info-product ">
                    <h4>
                      <a href="/activity/showresa/<%= activities.simulation[i].id %>">
                        <%= activities.simulation[i].name %>
                      </a>
                    </h4>
                    <div class="info-product-price">
                      <span class="item_price"><%= activities.simulation[i].price %>€</span>
                      
                    </div>
                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                      <form method="POST" action="/cart/addToCart" enctype="multipart/form-data">
                        <fieldset>
                          <input type="hidden" name="cmd" value="_cart" />
                          <input type="hidden" name="activity_id" value="<%= activities.simulation[i].id %>"/>
                          <input type="hidden" name="price" value="<%= activities.simulation[i].price %>">
                          <input type="hidden" name="item_name" value="<%= activities.simulation[i].name %>" />
                          <input type="hidden" name="amount" value="30.99" />
                          <input type="hidden" name="discount_amount" value="1.00" />
                          <input type="hidden" name="currency_code" value="USD" />
                          <input type="hidden" name="return" value=" " />
                          <input type="hidden" name="cancel_return" value=" " />
                          <input type="submit" name="submit" value="Add to cart" class="button" />
                        </fieldset>
                      </form>
                    </div>

                  </div>
                </div>
              </div>
              <% } %>
                <% } else { %>
                  <span>Aucunes activités pour le moment.</span>
                  <% } %>
                    <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //new_arrivals -->
<!-- /we-offer -->
<!-- <div class="sale-w3ls">
  <div class="container">
    <h6>We Offer Flat
      <span>40%</span> Discount</h6>

    <a class="hvr-outline-out button2" href="single.html">Shop Now </a>
  </div>
</div> -->
<!-- //we-offer -->



<!-- login -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-info">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-spa">
        <div class="login-grids">
          <div class="login">
            <div class="login-bottom">
              <h3>Sign up for free</h3>
              <form>
                <div class="sign-up">
                  <h4>Email :</h4>
                  <input type="text" value="Type here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}"
                    required="">
                </div>
                <div class="sign-up">
                  <h4>Password :</h4>
                  <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}"
                    required="">

                </div>
                <div class="sign-up">
                  <h4>Re-type Password :</h4>
                  <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}"
                    required="">

                </div>
                <div class="sign-up">
                  <input type="submit" value="REGISTER NOW">
                </div>

              </form>
            </div>
            <div class="login-right">
              <h3>Sign in with your account</h3>
              <form>
                <div class="sign-in">
                  <h4>Email :</h4>
                  <input type="text" value="Type here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}"
                    required="">
                </div>
                <div class="sign-in">
                  <h4>Password :</h4>
                  <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}"
                    required="">
                  <a href="#">Forgot password?</a>
                </div>
                <div class="single-bottom">
                  <input type="checkbox" id="brand" value="">
                  <label for="brand">
                    <span></span>Remember Me.</label>
                </div>
                <div class="sign-in">
                  <input type="submit" value="SIGNIN">
                </div>
              </form>
            </div>
            <div class="clearfix"></div>
          </div>
          <p>By logging in you agree to our
            <a href="#">Terms and Conditions</a> and
            <a href="#">Privacy Policy</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //login -->
<a href="#home" class="scroll" id="toTop" style="display: block;">
  <span id="toTopHover" style="opacity: 1;"> </span>
</a>

<!-- js -->
<script type="text/javascript" src="/js/soExtreme/jquery-2.1.4.min.js"></script>
<!-- //js -->
<script src="/js/soExtreme/modernizr.custom.js"></script>
<!-- Custom-JavaScript-File-Links -->
<!-- cart-js -->
<script src="/js/soExtreme/minicart.min.js"></script>
<script>
  // Mini Cart
  paypal.minicart.render({
    action: '#'
  });

  if (~window.location.search.indexOf('reset=true')) {
    paypal.minicart.reset();
  }

</script>

<!-- //cart-js -->
<!-- script for responsive tabs -->
<script src="/js/soExtreme/easy-responsive-tabs.js"></script>
<script>
  $(document).ready(function () {
    $('#horizontalTab').easyResponsiveTabs({
      type: 'default', //Types: default, vertical, accordion           
      width: 'auto', //auto or any width like 600px
      fit: true, // 100% fit in a container
      closed: 'accordion', // Start closed if in accordion view
      activate: function (event) { // Callback function if tab is switched
        var $tab = $(this);
        var $info = $('#tabInfo');
        var $name = $('span', $info);
        $name.text($tab.text());
        $info.show();
      }
    });
    $('#verticalTab').easyResponsiveTabs({
      type: 'vertical',
      width: 'auto',
      fit: true
    });
  });

</script>
<!-- //script for responsive tabs -->
<!-- stats -->
<script src="/js/soExtreme/jquery.waypoints.min.js"></script>
<script src="/js/soExtreme/jquery.countup.js"></script>
<script>
  $('.counter').countUp();

</script>
<!-- //stats -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="/js/soExtreme/move-top.js"></script>
<script type="text/javascript" src="/js/soExtreme/jquery.easing.min.js"></script>
<script type="text/javascript">
  jQuery(document).ready(function ($) {
    $(".scroll").click(function (event) {
      event.preventDefault();
      $('html,body').animate({
        scrollTop: $(this.hash).offset().top
      }, 1000);
    });
  });

</script>
<!-- here stars scrolling icon -->
<script type="text/javascript">
  $(document).ready(function () {
    /*
    	var defaults = {
    	containerID: 'toTop', // fading element id
    	containerHoverID: 'toTopHover', // fading element hover id
    	scrollSpeed: 1200,
    	easingType: 'linear' 
    	};
    */

    $().UItoTop({
      easingType: 'easeOutQuart'
    });

  });

</script>
<!-- //here ends scrolling icon -->


<!-- for bootstrap working -->
<script type="text/javascript" src="/js/soExtreme/bootstrap.js"></script>
