<!-- banner-bootom-w3-agileits -->
<div class="banner-bootom-w3-agileits">
    <div class="container">

        <div class="col-md-12">
            <h1>Condition générale de ventes de SO'Extrême</h1>
            <br />
            <br />
        </div>
        <div class="col-md-12">
            <h3>Clause n° 1 : Objet</h3>
            <br />
            <p>Les conditions générales de vente décrites ci-après détaillent les droits et obligations de la société SO'Extrême</p>
            <p>et de son client dans le cadre de la vente des marchandises suivantes : marchandises de domotique (le vendeur</p>
            <p>doit recenser les marchandises soumises aux CGV).</p>
            <p>Toute prestation accomplie par la société SO'Extrême implique donc l'adhésion sans réserve de</p>
            <p>l'acheteur aux présentes conditions générales de vente.</p>
            <hr />
        </div>

        <div class="col-md-12">
            <h3>Clause n° 2 : Prix</h3>
            <br />
            <p>Les prix des marchandises vendues sont ceux en vigueur au jour de la prise de commande. Ils sont libellés en</p>
            <p>euros et calculés hors taxes. Par voie de conséquence, ils seront majorés du taux de TVA et des frais de</p>
            <p>transport applicables au jour de la commande.</p>
            <p>La société SO'Extrême s'accorde le droit de modifier ses tarifs à tout moment. Toutefois, elle</p>
            <p>s'engage à facturer les marchandises commandées aux prix indiqués lors de l'enregistrement de la commande.</p>
            <hr />
        </div>
        <br />
        <div class="col-md-12">
            <h3>Clause n° 3 : Rabais et ristournes</h3>
            <br />
            <p>Les tarifs proposés comprennent les rabais et ristournes que la société SO'Extrême serait</p>
            <p>amenée à octroyer compte tenu de ses résultats ou de la prise en charge par l'acheteur de certaines prestations.</p>
            <hr />
        </div>
        <br />
        <div class="col-md-12">
            <h3>Clause n° 4 : Escompte</h3>
            <br />
            <p>Aucun escompte ne sera consenti en cas de paiement anticipé.</p>
            <hr />
        </div>
        <br />
        <div class="col-md-12">
            <h3>Clause n° 5 : Modalités de paiement</h3>
            <br />
            <p>Le règlement des commandes s'effectue :</p>
            <p>• soit par chèque ;</p>
            <p>• soit par carte bancaire ;</p>
            <p>• soit par espèces.</p>
            <p>Le réglement des commandes s'effectue lors du rendez-vous entre le technicien et les acheteurs.</p>
            <hr />
        </div>
        <br />
        <div class="col-md-12">
            <h3>Clause n° 6 : Retard de paiement</h3>
            <br />
            <p>En cas de défaut de paiement total ou partiel des marchandises livrées au jour de la réception, l'acheteur doit</p>
            <p>verser à la société SO'Extrême une pénalité de retard égale à trois fois le taux de l'intérêt légal.</p>
            <p>Le taux de l'intérêt légal retenu est celui en vigueur au jour de la livraison des marchandises.</p>
            <p>A compter du 1er janvier 2015, le taux d'intérêt légal sera révisé tous les 6 mois (Ordonnance n°2014-947 du</p>
            <p>20 août 2014).</p>
            <p>Cette pénalité est calculée sur le montant TTC de la somme restant due, et court à compter de la date</p>
            <p>d'échéance du prix sans qu'aucune mise en demeure préalable ne soit nécessaire.</p>
            <p>En sus des indemnités de retard, toute somme, y compris l’acompte, non payée à sa date d’exigibilité</p>
            <p>produira de plein droit le paiement d’une indemnité forfaitaire de 40 euros due au titre des frais de</p>
            <p>recouvrement.</p>
            <p>
                <i>Articles 441-6, I alinéa 12 et D. 441-5 du code de commerce.</i>
            </p>
            <hr />
        </div>
        <br />
        <div class="col-md-12">
            <h3>Clause n° 7 : Clause résolutoire</h3>
            <br />
            <p>Si dans les quinze jours qui suivent la mise en oeuvre de la clause " Retard de paiement ", l'acheteur ne s'est</p>
            <p>pas acquitté des sommes restant dues, la vente sera résolue de plein droit et pourra ouvrir droit à l'allocation</p>
            <p>de dommages et intérêts au profit de la société SO'Extrême.</p>
            <hr />
        </div>
        <br />
        <div class="col-md-12">
            <h3>Clause n° 8 : Clause de réserve de propriété</h3>
            <br />
            <p>La société SO'Extrême conserve la propriété des biens vendus jusqu'au paiement intégral du</p>
            <p>prix, en principal et en accessoires. À ce titre, si l'acheteur fait l'objet d'un redressement ou d'une liquidation</p>
            <p>judiciaire, la société SO'Extrême se réserve le droit de revendiquer, dans le cadre de la</p>
            <p>procédure collective, les marchandises vendues et restées impayées.</p>
            <hr />
        </div>
        <br />
        <div class="col-md-12">
            <h3>Clause n° 9 : Livraison</h3>
            <br />
            <p>La livraison est effectuée :</p>
            <p>• soit par la remise directe de la marchandise à l'acheteur ;</p>
            <p>• soit par l'envoi d'un avis de mise à disposition en magasin à l'attention de l'acheteur ;</p>
            <p>• soit au lieu indiqué par l'acheteur sur le bon de commande.</p>
            <p>Le délai de livraison indiqué lors de l'enregistrement de la commande n'est donné qu'à titre indicatif et n'est</p>
            <p>aucunement garanti.</p>
            <p>Par voie de conséquence, tout retard raisonnable dans la livraison des produits ne pourra pas donner lieu au</p>
            <p>profit de l'acheteur à :</p>
            <p>• l'allocation de dommages et intérêts ;</p>
            <p>• l'annulation de la commande.</p>
            <p>Le risque du transport est supporté en totalité par l'acheteur.</p>
            <p>En cas de marchandises manquantes ou détériorées lors du transport, l'acheteur devra formuler toutes les</p>
            <p>réserves nécessaires sur le bon de commande à réception desdites marchandises. Ces réserves devront être, en</p>
            <p>outre, confirmées par écrit dans les cinq jours suivant la livraison, par courrier recommandé AR.</p>
            <hr />
        </div>
        <br />
        <div class="col-md-12">
            <h3>Clause n° 10 : Force majeure</h3>
            <br />
            <p>La responsabilité de la société SO'Extrême ne pourra pas être mise en oeuvre si la nonexécution</p>
            <p>ou le retard dans l'exécution de l'une de ses obligations décrites dans les présentes conditions</p>
            <p>générales de vente découle d'un cas de force majeure. À ce titre, la force majeure s'entend de tout événement</p>
            <p>extérieur, imprévisible et irrésistible au sens de l'article 1148 du Code civil.</p>
            <hr />
        </div>
        <br />
        <div class="col-md-12">
            <h3>Clause n° 11 : Tribunal compétent</h3>
            <br />
            <p>Tout litige relatif à l'interprétation et à l'exécution des présentes conditions générales de vente est soumis
                au</p>
            <p>droit français.</p>
            <p>À défaut de résolution amiable, le litige sera porté devant le Tribunal de commerce de MANOSQUE.</p>
            <p>• Les conditions générales de vente entre professionnels</p>
            <p>Nos juristes vous accompagnent</p>
            <p>Pour des conditions générales de vente sécurisées et adaptées à votre activité, prenez un rendez-vous avec un</p>
            <p>juriste expert en droit commercial dans le cadre d'une prestation de conseil juridique.</p>
            <p>• Conseil juridique</p>
            <p>Mis à jour le 07/11/2014</p>
        </div>


    </div>
</div>
<!--//single_page-->
<!--/grids-->
<!--grids-->
<!-- //footer -->
<!-- login -->
<!-- //login -->
<a href="#home" class="scroll" id="toTop" style="display: block;">
    <span id="toTopHover" style="opacity: 1;"> </span>
</a>