	<div class="commingsoon">
		<div class="soon-all">
			<div class="container">
				<div class="logo">
	                <a href="/home" title=""><i class="fa fa-bullseye"></i> Xtrem</a>
                </div>
                <ul class="account-header-link">
					<li><a title="" href="/login">Login</a></li>
                    <li><a title="" href="/register">Register</a></li>
                </ul>
				<div class="countdown-sec">
					<ul class="countdown">
						<li><span class="days">00</span><p class="days_ref">days</p></li>
						<li> <span class="hours">00</span><p class="hours_ref">hours</p></li>
						<li> <span class="minutes">00</span><p class="minutes_ref">minutes</p></li>
						<li> <span class="seconds">00</span><p class="seconds_ref">seconds</p></li>
					</ul>
				</div><!-- Timer -->
				<div class="fancy-social">
					<span>STAY TUNED</span>
					<a href="javascript:void(0)" title=""><i class="fa fa-facebook"></i></a>
					<a href="javascript:void(0)" title=""><i class="fa fa-google-plus"></i></a>
					<a href="javascript:void(0)" title=""><i class="fa fa-twitter"></i></a>
					<a href="javascript:void(0)" title=""><i class="fa fa-reddit"></i></a>
					<a href="javascript:void(0)" title=""><i class="fa fa-pinterest"></i></a>
				</div><!-- Fancy Social -->
				<form class="subscribtion">
					<input type="text" placeholder="Subscribe Your Email">
					<button type="submit">Done</button>
				</form><!-- Form -->
			</div>
		</div>
	</div><!-- Comming Soon -->



	<!-- Vendor: Javascripts -->
    
    <script src="/js/dependencies/sails.io.js"></script>
	<script src="/js/dependencies/0.jquery-2.1.3.js"></script>
	
    <!-- <script src="/js/admin/common.js"></script> -->
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/modernizr.custom.17475.js"></script>
    <script src="/js/admin/collapse.js"></script>

    <script src="https://maps.google.com/maps/api/js?key=AIzaSyDrlCWSCEGTYat1yFIybvtjXe6v24wXY04" async="" type="text/javascript">

    </script>
	<script src="/js/admin/app.js"></script>
    <script src="/js/admin/downcount.min.js"></script>
	<script>
		$(document).on('ready', function(){
		'use strict';
			$('.countdown').downCount({
				date: '10/26/2017 12:00:00',
				offset: +10
			});
		});
	</script>