<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'xtrem' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/admin/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/admin/icons.css">
    <link rel="stylesheet" href="/styles/admin/main.css">
    <link rel="stylesheet" href="/styles/admin/responsive.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/soExtreme copie/bootstrap.css">
    <link rel="stylesheet" href="/styles/soExtreme copie/easy-responsive-tabs.css">
    <link rel="stylesheet" href="/styles/soExtreme copie/flexslider.css">
    <link rel="stylesheet" href="/styles/soExtreme copie/font-awesome.css">
    <link rel="stylesheet" href="/styles/soExtreme copie/jquery-ui.css">
    <link rel="stylesheet" href="/styles/soExtreme copie/style.css">
    <link rel="stylesheet" href="/styles/soExtreme copie/team.css">
    <link rel="stylesheet" href="/styles/soExtreme/bootstrap.css">
    <link rel="stylesheet" href="/styles/soExtreme/easy-responsive-tabs.css">
    <link rel="stylesheet" href="/styles/soExtreme/flexslider.css">
    <link rel="stylesheet" href="/styles/soExtreme/font-awesome.css">
    <link rel="stylesheet" href="/styles/soExtreme/jquery-ui.css">
    <link rel="stylesheet" href="/styles/soExtreme/style.css">
    <link rel="stylesheet" href="/styles/soExtreme/team.css">
    <!--STYLES END-->
  </head>

  <body>
      <!-- <%- include partials/header.ejs %>  -->
      <%- body %>


    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/0.jquery-2.1.3.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/modernizr.custom.17475.js"></script>
    <script src="/js/admin/app.js"></script>
    <script src="/js/admin/collapse.js"></script>
    <script src="/js/admin/common.js"></script>
    <script src="/js/admin/downcount.min.js"></script>
    <script src="/js/admin/fresh.min.js"></script>
    <script src="/js/admin/home2.js"></script>
    <script src="/js/admin/inbox.js"></script>
    <script src="/js/admin/skycons.js"></script>
    <script src="/js/admin/soon.js"></script>
    <script src="/js/admin/widgets.js"></script>
    <script src="/js/common/bootstrap.js"></script>
    <script src="/js/common/customValidation.js"></script>
    <script src="/js/soExtreme copie/bootstrap.js"></script>
    <script src="/js/soExtreme copie/easy-responsive-tabs.js"></script>
    <script src="/js/soExtreme copie/imagezoom.js"></script>
    <script src="/js/soExtreme copie/jquery-2.1.4.min.js"></script>
    <script src="/js/soExtreme copie/jquery-ui.js"></script>
    <script src="/js/soExtreme copie/jquery.countup.js"></script>
    <script src="/js/soExtreme copie/jquery.easing.min.js"></script>
    <script src="/js/soExtreme copie/jquery.flexslider.js"></script>
    <script src="/js/soExtreme copie/jquery.waypoints.min.js"></script>
    <script src="/js/soExtreme copie/minicart.min.js"></script>
    <script src="/js/soExtreme copie/modernizr.custom.js"></script>
    <script src="/js/soExtreme copie/move-top.js"></script>
    <script src="/js/soExtreme copie/responsiveslides.min.js"></script>
    <script src="/js/soExtreme/bootstrap.js"></script>
    <script src="/js/soExtreme/easy-responsive-tabs.js"></script>
    <script src="/js/soExtreme/imagezoom.js"></script>
    <script src="/js/soExtreme/jquery-2.1.4.min.js"></script>
    <script src="/js/soExtreme/jquery-ui.js"></script>
    <script src="/js/soExtreme/jquery.countup.js"></script>
    <script src="/js/soExtreme/jquery.easing.min.js"></script>
    <script src="/js/soExtreme/jquery.flexslider.js"></script>
    <script src="/js/soExtreme/jquery.waypoints.min.js"></script>
    <script src="/js/soExtreme/minicart.min.js"></script>
    <script src="/js/soExtreme/modernizr.custom.js"></script>
    <script src="/js/soExtreme/move-top.js"></script>
    <script src="/js/soExtreme/responsiveslides.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
