
    <!-- banner-bootom-w3-agileits -->
    <div class="banner-bootom-w3-agileits">
        <div class="container">

            <div class="col-md-12">
                <h1>Mentions Légales</h1>
                <hr />
            </div>
            <div class="col-md-12">

                <section class="section-policy">
                    <p>Le site internet disponible à l’adresse www.soextreme.fr est la propriété de SO'Extrême, SARL à associé
                        unique au capital de 30 000 euros.</p>

                    <p>Siège social : Route de Napoléon</p>
                    <p>Téléphone : 04 84 62 78 39 - 0,1667 € ht / min + prix appel</p>

                    <p>Directeur : Léon Cruise , directeur général SO'Extrême</p>

                    <p>Contact : contact@soextreme.fr</p>

                    <p>Hébergement : OVH</p>

                </section>


            </div>
        </div>
    </div>
