<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

    <!-- Meta-Information -->
    <title>So' eXtreme</title>
    <meta charset="utf-8">
    <meta name="description" content="so extreme reservation page">
    <meta name="keywords" content="extreme, extreme dashboard">
    <meta name="author" content="xtrem">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Vendor: Bootstrap Stylesheets http://getbootstrap.com -->
    <link rel="stylesheet" href="/styles/admin/bootstrap.min.css">

    <!-- Our Website CSS Styles -->
    <link rel="stylesheet" href="/styles/admin/icons.css">
    <link rel="stylesheet" href="/styles/admin/main.css">
    <link rel="stylesheet" href="/styles/admin/responsive.css">

</head>

<body>
    <!-- <%- include partials/header.ejs %>  -->
    <%- body %>

    

    <!-- Our Website Javascripts -->
    

</body>

</html>