<form method="POST" action="/dashboard/activity/create" enctype="multipart/form-data">
    <div id="step-1">
        <h2 class="StepTitle">Creer une nouvelle activité</h2>
        <div class="col-md-12">
            <div class="inline-form">
                <label class="c-label">Nom de l'activité</label><input class="input-style" type="text" name="name" placeholder="Nom de l'activité" required/>
            </div>
        </div>

        <div class="col-md-12">
            <div class="inline-form">
                <label class="c-label">Description</label><input class="input-style" type="text" placeholder="Description" name="description" required/>
            </div>
        </div>

        <div class="col-md-12">
            <div class="inline-form">
                <label class="c-label">Niveaux</label><input class="input-style" type="number" placeholder="Niveaux" name="level" min="1" max="10"/>
            </div>
        </div>

        <div class="col-md-12">
            <div class="inline-form">
                <label class="c-label">Utilisateurs max</label><input class="input-style" type="number" placeholder="nb d utilisateurs max" name="max_user" min="1" max="5"/>
            </div>
        </div>

        <div class="col-md-12">
            <div class="inline-form">
                <label class="c-label">Categorie</label>
                    <select class="form-control" name="category">
                        <option value="air">Air</option>
                        <option value="terre">Terre</option>
                        <option value="eau">Eau</option>
                        <option value="simulation">Simulation</option>
                    </select>
            </div>
        </div>

        <div class="col-md-12">
            <div class="inline-form" id="sandbox-container">
                
                <label class="c-label">Commence le</label><input type="datetime" class="form-control input-style" name="start_at">
            </div>
        </div>

        <div class="col-md-12">
            <div class="inline-form" id="sandbox-container">
                <label class="c-label">Se termine le</label>
                <input type="datetime" class="form-control input-style" name="end_at">
                <!-- <input class="" type="date" placeholder="Activity Ending at" /> -->
            </div>
        </div>

        <div class="col-md-12">
            <!-- THIS IS THE CVER PICTURE add INSIDE THE BACKEND-->
            <!-- <div class="inline-form">
                
                <label class="c-label">Photo</label><input type="file" name="file" id="image_file" multiple/>
            </div>
            or the picture's url -->
            <div class="inline-form">
                    <label class="c-label">Photo</label><input type="text" placeholder="url of Picture" name="cover"/>
            </div>
        </div>
        <div class="col-md-12">
            <div class="inline-form">
                <label class="c-label">Prix</label>
                <input class="input-style" type="number" placeholder="Prix" name="price"/>
            </div>
        </div>
        <div class="col-md-6" style="margin-top: 10px;">
            <button class="btn green-bg btn-default" type="submit">Soumettre</button>
        </div>
    </div>
</form>