

<form method="POST" action="/dashboard/activity/edit/<%= activity.id %>" enctype="multipart/form-data">

    <div class="row">
        <div id="step-1" class="col-md-8">
            <h2 class="StepTitle">Modification de l'activité <%= activity.name %></h2>
            <div class="col-md-12">
                <div class="inline-form">
                    <label class="c-label">Name</label>
                    <input class="input-style" type="text" name="name" placeholder="Your Name" value="<%= activity.name %>" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="inline-form">
                    <label class="c-label">Description</label>
                    <input class="input-style" type="text" placeholder="Description" name="description" value="<%= activity.description %>"/>
                </div>
            </div>
            <div class="col-md-12">
                    <div class="inline-form">
                        <label class="c-label">Level</label>
                        <input class="input-style" type="number" placeholder="Level" name="level" value="<%= activity.level %>"/>
                    </div>
                </div>
        
                <div class="col-md-12">
                    <div class="inline-form">
                        <label class="c-label">Max USERS</label>
                        <input class="input-style" type="number" placeholder="Level" name="max_user" value="<%= activity.max_user %>"/>
                    </div>
                </div>
        
                <div class="col-md-12">
                    <div class="inline-form">
                        <label class="c-label">Category</label>
                        <input class="input-style" type="text" placeholder="Category" name="category" value="<%= activity.category %>"/>
                    </div>
                </div>
            <div class="col-md-12">
                <div class="inline-form">
                    <label class="c-label">Photo</label>
                    <input type="file" name="file" id="image_file" multiple/>
                </div>
                or the picture's url
                <div class="inline-form">
                        <label class="c-label">Photo</label>
                        <input type="text" placeholder="url of Picture" name="cover" value="<%= activity.cover %>"/>
                </div>
            </div>
            <div class="col-md-12">
                    <div class="inline-form" id="sandbox-container">
                        
                        <label class="c-label">Start at</label>
                        <input type="text" class="form-control input-style" name="start_at" value="<%= activity.start_at %>">
                    </div>
                </div>
        
                <div class="col-md-12">
                    <div class="inline-form" id="sandbox-container">
                        <label class="c-label">End at</label>
                        <input type="text" class="form-control input-style" name="end_at" value="<%= activity.end_at %>">
                        <!-- <input class="" type="date" placeholder="Activity Ending at" /> -->
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="inline-form">
                        <label class="c-label">Prix</label>
                        <input class="input-style" type="number" placeholder="Prix" name="price" value="<%= activity.price %>"/>
                    </div>
                </div>
    
            <div class="col-md-6" style="margin-top: 10px;">
                <button class="btn green-bg btn-default" type="submit">Modifier</button>
            </div>
        </div>
        <div class="col-md-4">
                <div class="gallery-box">
                        <img src="<%= activity.cover %>" alt="" />
                        <div class="gallery-detail">
                            <a href="<%= activity.cover %>" title=""><i class="fa fa-search"></i></a>
                            <h3><%= activity.description %></h3>
                        </div>
                </div><!-- Gallery Box -->  
        </div>
    </div>

</form>

