<div class="main-content-area">
    <div class="gallery-sec">
         <div class="row">
             <h1>Listes des activités</h1>
             <% if(activities.length > 0){ %>
                <table class="table">
                    <tr>
                        <th>
                            Nom
                        </th>
                        <th>
                            Categorie
                        </th>
                        <th>
                            Date de début
                        </th>
                        <th>
                            Date de fin
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                    <% for (var i = 0; i < activities.length; i++ ){%>
                        <tr>
                            <td>
                                    <%= activities[i].name %>
                            </td>
                            <td>
                                <%= activities[i].category %>
                            </td>
                            <td>
                                    <%= activities[i].start_at %>
                            </td>
                            <td>
                                    <%= activities[i].end_at %>
                            </td>
                            <td>
                                <a href="/dashboard/activity/edit/<%= activities[i].id %>" class="btn btn-success">Modifier</a>
                                <a href="/dashboard/activity/delete/<%= activities[i].id %>" class="btn btn-danger">Supprimer</a>
                            </td>
                        </tr>
                    <% } %>
            </table>
            <% } else { %>
                <div>Aucunes activités pour le moment.</span>
            <% } %>
         </div>
    </div>
</div>