<div class="banner-bootom-w3-agileits">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Modifiez votre adresse de facturation</h1>
            </div>
        </div>
        <hr />
        <br />
        <div class="row">
            <div class="col-md-3">
                <div class="vertical-menu">
                    <a href="">Mon compte</a>
                    <a href="/user/infos/<%= user.id %>">Mes informations personnelles</a>
                    <a href="/user/adresse/<%= user.id %>" class="active">Mon adresse de facturation</a>
                    <a href="/user/orders/<%= user.id %>">Historique des commandes</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="contact-form" style="background-color:white !important;color:#fff;padding-top:0 !important;">
                    <form action="/user/update/<%= user.id %>" method="POST" class="form">
                        <div class="styled-input agile-styled-input-top">
                            <input type="text" name="adress" required value="<%= user.adresse %>" style="color:black;">
                            <label>Adresse</label>
                            <span></span>
                        </div>
                        <div class="styled-input agile-styled-input-top">
                            <input type="text" name="ville" value="<%= user.ville %>" required style="color:black;">
                            <label>Ville</label>
                            <span></span>
                        </div>
                        <div class="styled-input agile-styled-input-top">
                            <input type="text" name="postcode" value="<%= user.postcode %>" required style="color:black;">
                            <label>Code Postale</label>
                            <span></span>
                        </div>
                        <input type="submit" value="Valider">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>