<div class="banner-bootom-w3-agileits">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Modifiez vos informations personnelles</h1>
      </div>
    </div>
    <hr />
    <br />
    <div class="row">
      <div class="col-md-3">
        <div class="vertical-menu">
          <a href="">Mon compte</a>
          <a href="/user/infos/<%= user.id %>" class="active">Mes informations personnelles</a>
          <a href="/user/adresse/<%= user.id %>" >Mon adresse de facturation</a>
          <a href="/user/orders/<%= user.id %>">Historique des commandes</a>
        </div>
      </div>
      <div class="col-md-9">
        <div class="contact-form" style="background-color:white !important;color:#fff;padding-top:0 !important;">
          <form action="/user/update/<%= user.id %>" method="POST" class="form">
            <div class="styled-input agile-styled-input-top">
              <input type="text" class="form-control" placeholder="votre prenom" name="firstname" value="<%= user.firstname %>" required style="color:black;">
              <label>Prénom</label>
              <span></span>
            </div>
            <div class="styled-input agile-styled-input-top">
              <input type="text" class="form-control" placeholder="votre nom" name="lastname" value="<%= user.lastname %>" required style="color:black;">
              <label>Nom</label>
              <span></span>
            </div>
            <div class="styled-input agile-styled-input-top">
              <input type="email" name="email" value="<%= user.email %>"  style="color:black;">
              <label>Email</label>
              <span></span>
            </div>
            <div class="styled-input agile-styled-input-top">
              <input type="password" name="password"  style="color:black;">
              <label>Mot de passe</label>
              <span></span>
            </div>
            <div class="styled-input agile-styled-input-top">
              <input type="password" name="ConfirmPassword" required style="color:black;">
              <label>Confirmez le mot de passe</label>
              <span></span>
            </div>
            <div class=" styled-input agile-styled-input-top">
              <input type="checkbox" name="newsletter" style="color:black;">
              <label style="color:black;margin-left:20px;">Inscrivez-vous à la newsletter</label>
              <span></span>
            </div>
            <input type="submit" value="Valider">
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
