<div class="account-user-sec registration-sec">
     <div class="account-sec">
          <div class="account-top-bar">
               <div class="container">
                     <div class="logo">
                       <a href="/" title=""><i class="fa fa-bullseye"></i> Xtrem</a>
                   </div>
                   <ul class="account-header-link">
                    <li><a title="" href="/login">Login</a></li>
                    <li><a title="" href="#/forgot-password">Forgot Your Password</a></li>
                    <li><a title="">Email us</a></li>
                   </ul>
               </div>
          </div>
          <div class="acount-sec">
               <div class="container">
                    <div class="row">
                         <div class="col-md-12">
                              <div class="contact-sec">
                                   <div class="row">
                                        <div class="col-md-8">   
                                             <div class="widget-title">
                                                  <h3>Register Your Account</h3>
                                                  <span>Fill your detail to get in</span>
                                             </div><!-- Widget title -->
                                             <div class="account-form">
                                                  <form action="/user/create" method="POST" class="form-signin">
                                                    
                                                       <div class="row">
                                                            <div class="col-md-6 feild">
                                                                 <input type="text" placeholder="Name" name="name" required/>
                                                            </div>
                                                            <div class="col-md-6 feild">
                                                                 <input type="text" placeholder="Email" name="email" required/>
                                                            </div>
                                                            <div class="col-md-6 feild">
                                                                 <input type="password" placeholder="Password" name="password" required/>
                                                            </div>
                                                            <div class="col-md-6 feild">
                                                                 <input type="password" placeholder="Re-type Password" name="confirmation" required/>
                                                            </div>
                                                            <div class="col-md-12">
                                                                 <label><input type="checkbox" required/> By Clicking on this you are agree with our <a title="">license & agreements</a></label>
                                                            </div>
                                                            <div class="feild col-md-6">
                                                                 <input type="submit" value="Register Now" />
                                                            </div>
                                                            <input type="hidden" name="_csrf" value="<%= _csrf %>">
                                                       </div>
                                                  </form>
                                             </div>
                                             <div class="more-option">
                                                  <span>OR</span>
                                             </div>
                                        </div>
                                        <div class="col-md-4">
                                             <div class="creat-an-account">
                                                  <span>Do you have an account?</span>
                                                  <a href="/login" title="">Login Now</a>
                                                  <h4>You can also Signup using</h4>
                                             </div><!-- Create an account -->
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>

     </div><!-- Account Sec -->
</div>