div class="banner-bootom-w3-agileits">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Historique de vos commandes</h1>
        </div>
    </div>
    <hr />
    <br />
    <div class="row">
        <div class="col-md-3">
            <div class="vertical-menu">
                <a href="">Mon compte</a>
                <a href="/user/infos/<%= user.id %>" >Mes informations personnelles</a>
                <a href="/user/adresse/<%= user.id %>">Mon adresse de facturation</a>
                <a href="/user/orders/<%= user.id %>" class="active">Historique des commandes</a>
            </div>
        </div>
        <div class="col-md-9">
            <table class="table">
                <thead>
                    <tr>
                        <th>N° de commande</th>
                        <th>Date</th>
                        <th>Montant TTC</th>
                        <th>Statut de la commande</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>3</th>
                        <th>25/01/2017</th>
                        <th>€ TTC</th>
                        <th>Validée</th>
                        <th>
                            <a href="/details" class="btn btn-danger">Details</a>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</div>