<div class="banner-bootom-w3-agileits">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Bienvenue sur votre compte</h1>
            </div>
        </div>
        <hr />
        <br />
        <div class="row">
            <div class="col-md-3">
                <div class="vertical-menu">
                    <a href="">Mon compte</a>
                    <a href="/user/infos/<%= user.id %>">Mes informations personnelles</a>
                    <a href="/user/adresse/<%= user.id %>" class="active">Mon adresse de facturation</a>
                    <a href="/user/orders/<%= user.id %>">Historique des commandes</a>
                </div>
            </div>
            <div class="col-md-9">
                <a href="/user/infos/<%= user.id %>">
                    <div class="col-md-4" style="cursor:pointer;">
                        <i class="fa fa-user" style="color: #E71F27; font-size:35px;"></i>
                        <div class="titleMonCompte">Mes informations</div>
                        <div class="textMonCompte">
                            Modifiez vos informations personnelles ainsi que la newsletter.
                        </div>
                    </div>
                </a>
                <a href="/user/adresse/<%= user.id %>">
                    <div class="col-md-4" style="cursor:pointer;">
                        <i class="fa fa-map-marker" style="color: #E71F27; font-size:35px;"></i>
                        <div class="titleMonCompte">Mon adresse</div>
                        <div class="textMonCompte">
                            Modifiez votre adresse de facturation.
                        </div>
                    </div>
                </a>
                <a href="/user/orders/<%= user.id %>">
                    <div class="col-md-4" style="cursor:pointer;">
                        <i class="fa fa-shopping-basket" style="color: #E71F27; font-size:35px;"></i>
                        <div class="titleMonCompte">Historique des commandes</div>
                        <div class="textMonCompte">
                            Consultez l'avancement et le detail de vos commandes.
                        </div>
                    </div>
                </a>

            </div>
        </div>

    </div>
</div>