<div class="banner-bootom-w3-agileits">
    <div class="container">
        <div class="col-md-12">
            <a href="historique.html" style="float:right;">
                <i class="fa fa-arrow-left" style="color:#E71F27;"></i> Toutes les commandes
            </a>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <h1>Détail de la commande numéro 3</h1>
            </div>
        </div>
        <hr />
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Récapitulatif livraison</h3>
                        <br />
                        <div>
                            <strong>Mode de livraison</strong>
                        </div>
                        <div>Billet électronique</div>
                        <br />
                        <div>
                            <strong>Adresse de livraison</strong>
                        </div>
                        <p>thomas@mainguy.fr</p>
                    </div>
                    <div class="col-md-6">
                        <h3>Récapitulatif facturation</h3>
                        <br />
                        <p>Thomas Mainguy</p>
                        <p>56 rue de la gare</p>
                        <p>75001 PARIS</p>
                        <p>E-mail : thomas@mainguy.fr</p>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-md-12">
                        <h3>Récapitulatif de commande</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ARTICLE(S)</th>
                                    <th>PRIX</th>
                                    <th>QUANTITE</th>
                                    <th>PRIX TOTAL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="images/d1.jpg" alt="Alternate Text" style="width:35px;" /> Voyage au ski pour 2 personnes
                                    </td>
                                    <td>137.57€</td>
                                    <td>1</td>
                                    <td>137.57€</td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="images/d1.jpg" alt="Alternate Text" style="width:35px;" /> Voyage au ski pour 2 personnes
                                    </td>
                                    <td>137.57€</td>
                                    <td>1</td>
                                    <td>137.57€</td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="images/d1.jpg" alt="Alternate Text" style="width:35px;" /> Voyage au ski pour 2 personnes
                                    </td>
                                    <td>137,57€</td>
                                    <td>1</td>
                                    <td>137,57€</td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td style="color:red">MONTANT TOTAL PAY&#201;</td>
                                    <td style="color:red">412,71€</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h3>Mode de paiement</h3>
                        <br />
                        <div style="padding:30px;background-color:lightgrey; border-radius : 20px;">
                            <div>
                                <strong>
                                    <i class="fa fa-credit-card"></i> Paiement par Paypal</strong>
                            </div>
                            <br />
                            <div>
                                Vous avez utiliser le mode de paiement sécurisé Paypal.
                            </div>
                            <br />
                            <img src="/images/logo-paypal.gif" alt="Alternate Text" style="padding:4px;background-color:white;border-radius:4px;" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>