<div class="banner-bootom-w3-agileits">
    <div class="container">

        <div class="col-md-12">
            <a href="/view-cart">
                <i class="fa fa-arrow-left"></i> retour
            </a>
        </div>
        <br />

        <div class="col-md-12" style="border:1px solid lightgrey; padding:15px;">
            <h1>
                Récapitulatif & Paiement
            </h1>
            <br />
            <span>Vérifiez vos informations accédez au paiement.</span>
            <hr />

            <div class="row">
                <div class="col-md-6">
                    <h3>Récapitulatif livraison</h3>
                    <br />
                    <div>
                        <strong>Mode de livraison</strong>
                    </div>
                    <div>Billet électronique</div>
                    <br />
                    <div>
                        <strong>Adresse de livraison</strong>
                    </div>
                    <a href="#">Modifier l'adresse e-mail</a>
                </div>
                <div class="col-md-6">
                    <h3>Récapitulatif facturation</h3>
                    <br />
                    <p>Thomas Mainguy</p>
                    <p>56 rue de la gare</p>
                    <p>75001 PARIS</p>
                    <p>E-mail : thomas@mainguy.fr</p>
                    <br />
                    <a href="#">Modifier l'adresse de facturation</a>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12">
                    <h3>Récapitulatif de commande</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ARTICLE(S)</th>
                                <th>PRIX</th>
                                <th>QUANTITE</th>
                                <th>PRIX TOTAL</th>
                            </tr>
                        </thead>
                        <tbody> 

                            <% if(cart.activities_ids.length > 0){ %>
                                <% for (var i = 0; i < cart.activities_ids.length; i++ ){%>
                            
                                    <tr>
                                        <td>
                                            <img src="<%= cart.activities_ids[i].cover%>" alt="Alternate Text" style="width:35px;" />
                                        </td>
                                        <td>
                                            <%= cart.activities_ids[i].price%>€
                                        </td>
                                        <td>
                                            <i class="fa fa-plus"> </i>
                                            <input type="number" name="quantite" value="1" style="width:40px;" />
                                            <i class="fa fa-minus"></i>
                                        </td>
                                        <td>
                                            <%= cart.activities_ids[i].price%>€
                                        </td>
                                        <td>
                                    
                                        </td>
                                        <td>
                                            <i class="fa fa-trash-o"></i>
                                        </td>
                                    </tr>
                            
                                    <% } %>
                                        <% } else { %>
                                            <span>Votre panier est vide</span>
                                            <% } %>
                                <tr>
                                    <td colspan="2"></td>
                                    <td style="color:red">MONTANT TOTAL A PAYER</td>

                                    <td style="color:red">
                                        <% var price = 0; %>
                                        <% for (var i = 0; i < cart.activities_ids.length; i++ ){%>
                                            <% price+=cart.activities_ids[i].price %>
                                            
                                        <% } %>
                                        <%= price%>€
                                    </td>
                                </tr>
                            
                        </tbody>
                    </table>
                    <hr />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3>Mode de paiement</h3>
                    <br />
                    <div style="padding:30px;background-color:lightgrey; border-radius : 20px;">
                        <div>
                            <strong>
                                <i class="fa fa-credit-card"></i> Paiement par Paypal</strong>
                        </div>
                        <br />
                        <div>
                            Connectez-vous à votre compte Paypal et réglez votre commande.
                        </div>
                        <br />
                        <img src="/images/logo-paypal.gif" alt="Alternate Text" style="padding:4px;background-color:white;border-radius:4px;" />
                    </div>
                    <br />
                    <div style="text-align:center">
                        
                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                            <form action="/say/paypal" method="post">
                                    <input type="number" value="<%= price%>" name="ammount" class="hidden">
                                    <input type="submit" name="submit" value="Valider et payer ma commande" class="button">
                                
                            </form>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>