<div class="banner-bootom-w3-agileits">
    <div class="container">
        <div class="col-md-12 single-right-left ">
            
            <% if(cart){ %>
                <h2>Mon panier</h2>
                <hr />
                <br />
                <br />
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Produit
                            </th>
                            <th>
                                Libellé
                            </th>
                            <th>
                                Prix HT
                            </th>
                            <th>
                                Quantité
                            </th>
                            <th>
                                Prix total
                            </th>
                            <th>
                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                
                        <% if(cart.activities_ids.length > 0){ %>
                            <% for (var i = 0; i < cart.activities_ids.length; i++ ){%>
                
                                <tr>
                                    <td>
                                        <img src="<%= cart.activities_ids[i].cover%>" alt="Alternate Text" style="width:35px;" />
                                    </td>
                                    <td>
                                        <%= cart.activities_ids[i].name%>
                                    </td>
                                    <td>
                                        <%= cart.activities_ids[i].price%>€
                                    </td>
                                    <td>
                                        <i class="fa fa-plus"> </i>
                                        <input type="number" name="quantite" value="1" style="width:40px;" />
                                        <i class="fa fa-minus"></i>
                                    </td>
                                    <td>
                                        <%= cart.activities_ids[i].price%>€
                                    </td>
                                    <td>
                                        <i class="fa fa-trash-o"></i>
                                    </td>
                                </tr>
                
                                <% } %>
                                    <% } else { %>
                                        <span>Votre panier est vide</span>
                                        <% } %>
                
                    </tbody>
                
                </table>
                
                <div class="cart-collaterals" style="float:right;width:35%;font-weight:bold;">
                    <div class="cart_totals calculated_shipping">
                
                        <div style="font-size:16px;">Total de la commande</div>
                        <table cellspacing="0" class="table">
                            <tbody role="rowgroup">
                                <tr style="border-bottom : 1px solid black">
                                    <th>Total HT</th>
                                    <td data-title="Subtotal">
                                        <% var price = 0; %>
                                            <% for (var i = 0; i < cart.activities_ids.length; i++ ){%>
                                                <% price+=cart.activities_ids[i].price %>
                                        <% } %>
                                        <span id="totalPanier"><%= price/1.2 %>€</span>
                                    </td>
                                </tr>
                                <tr style="border-bottom : 1px solid black">
                                    <th>TVA</th>
                                    <td data-title="Subtotal">
                                        <span>
                                            <span id="tvaPanier">20%</span>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Total TTC</th>
                                    <td data-title="Total">
                                        <strong>
                                            <span id="totalPanierTTC">
                                                
                                                <%= price%>€
                                            </span>
                                        </strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div style="clear:both;"></div>
                
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2" style="width:20%;float:right;">
                    <form action="/order/addOrder" method="POST">
                        <fieldset>
                            <input type="submit" name="submit" value="Valider" class="button">
                        </fieldset>
                    </form>
                </div>

            <% } else { %>
                <span>Votre panier est vide</span>
            <% } %>

        </div>
    </div>
</div>