<!DOCTYPE html>
<html>

<head>
  <title>
    <%=typeof title == 'undefined' ? 'So\'Extreme' : title%>
  </title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="/styles/soExtreme/bootstrap.css">
  <link rel="stylesheet" href="/styles/soExtreme/style.css">
  <link rel="stylesheet" href="/styles/soExtreme/font-awesome.css">
  <link rel="stylesheet" href="/styles/soExtreme/easy-responsive-tabs.css">
  <link rel="stylesheet" href="/styles/soExtreme/flexslider.css">

</head>

<body>
  <%- include ../partials/header.ejs %>
  <%- body %>
  <%- include ../partials/footer.ejs %>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/0.jquery-2.1.3.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/modernizr.custom.17475.js"></script>
    <script src="/js/soExtreme/easy-responsive-tabs.js"></script>
    <script src="/js/soExtreme/jquery.flexslider.js"></script>
    <script>
      // Can also be used with $(document).ready()
      $(window).load(function () {
        $('.flexslider').flexslider({
          animation: "slide",
          controlNav: "thumbnails"
        });
      });
    </script>
    <script>
      $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
          type: 'default', //Types: default, vertical, accordion           
          width: 'auto', //auto or any width like 600px
          fit: true, // 100% fit in a container
          closed: 'accordion', // Start closed if in accordion view
          activate: function (event) { // Callback function if tab is switched
            var $tab = $(this);
            var $info = $('#tabInfo');
            var $name = $('span', $info);
            $name.text($tab.text());
            $info.show();
          }
        });
        $('#verticalTab').easyResponsiveTabs({
          type: 'vertical',
          width: 'auto',
          fit: true
        });
      });
    </script>
    <script src="/js/soExtreme/imagezoom.js"></script>
    <script src="/js/soExtreme/minicart.min.js"></script>
    <script src="/js/soExtreme/move-top.js"></script>
    <script src="/js/soExtreme/responsiveslides.min.js"></script>

</body>

</html>