<form method="POST" action="/dashboard/reservation/create" enctype="multipart/form-data">
    <div id="step-1">
        <h2 class="StepTitle">Create New reservation</h2>
        <div class="col-md-12">
            <div class="inline-form">
                <label class="c-label">Name</label><input class="input-style" type="text" name="name" placeholder="Your Name" required/>
            </div>
        </div>

        <div class="col-md-12">
            <div class="inline-form">
                <label class="c-label">Description</label><input class="input-style" type="text" placeholder="Description" name="description" required/>
            </div>
        </div>

        <div class="col-md-12">
            <div class="inline-form">
                <label class="c-label">Level</label><input class="input-style" type="number" placeholder="Level" name="level"/>
            </div>
        </div>

        <div class="col-md-12">
            <div class="inline-form">
                <label class="c-label">Max USERS</label><input class="input-style" type="number" placeholder="Level" name="max_user"/>
            </div>
        </div>

        <div class="col-md-12">
            <div class="inline-form">
                <label class="c-label">Category</label><input class="input-style" type="text" placeholder="Category" name="category"/>
            </div>
        </div>

        <div class="col-md-12">
            <div class="inline-form" id="sandbox-container">
                
                <label class="c-label">Start at</label><input type="text" class="form-control input-style" name="start_at">
            </div>
        </div>

        <div class="col-md-12">
            <div class="inline-form" id="sandbox-container">
                <label class="c-label">End at</label>
                <input type="text" class="form-control input-style" name="end_at">
                <!-- <input class="" type="date" placeholder="Activity Ending at" /> -->
            </div>
        </div>

        <div class="col-md-12">
            <!-- THIS IS THE CVER PICTURE add INSIDE THE BACKEND-->
            <!-- <div class="inline-form">
                
                <label class="c-label">Photo</label><input type="file" name="file" id="image_file" multiple/>
            </div>
            or the picture's url -->
            <div class="inline-form">
                    <label class="c-label">Photo</label><input type="text" placeholder="url of Picture" name="cover"/>
            </div>
        </div>

        <div class="col-md-6" style="margin-top: 10px;">
            <button class="btn green-bg btn-default" type="submit">Submit</button>
        </div>
    </div>
</form>