<h1>edit Activity</h1>

<form method="POST" action="/dashboard/reservation/edit/<%= reservation.id %>" enctype="multipart/form-data">
    <div id="step-1">
        <h2 class="StepTitle">Create New reservation</h2>
        <div class="col-md-12">
            <div class="inline-form">
                <label class="c-label">Name</label><input class="input-style" type="text" name="name" placeholder="Your Name" value="<%= activity.name %>" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="inline-form">
                <label class="c-label">Description</label><input class="input-style" type="text" placeholder="Description" name="description" value="<%= activity.description %>"/>
            </div>
        </div>
        <div class="col-md-12">
            <div class="inline-form">
                <label class="c-label">Photo</label><input type="file" name="file" id="image_file" multiple/>
            </div>
            or the picture's url
            <div class="inline-form">
                    <label class="c-label">Photo</label><input type="text" placeholder="url of Picture" name="picture"/>
            </div>
        </div>

        <div class="col-md-6" style="margin-top: 10px;">
            <button class="btn green-bg btn-default" type="submit">Submit</button>
        </div>
    </div>
</form>

