<div class="main-content-area">
    <div class="gallery-sec">
         <div class="row">
             <h1>Reservations</h1>
            <% for (var i = 0; i < reservations.length; i++ ){%>
              <div class="col-md-3">
                   <div class="gallery-box">
                        <img src="<%= reservations[i].cover %>" alt="" />
                        <div class="gallery-detail">
                             <a href="<%= reservations[i].cover %>" title=""><i class="fa fa-search"></i></a>
                             <h3><%= reservations[i].description %></h3>
                        </div>
                   </div><!-- Gallery Box -->
              </div>
            <% } %>
         </div>
    </div>
</div>