<div class="main-content menu-slide">
    <div class="panel-content">
        <div class="main-content-area">
            <div class="product-sec">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="product-box">
                            <div class="product-thumb">
                                <img src="http://placehold.it/270x371" alt="" />
                                <a href="javascript:void(0)" title="" class="add-to-cart"><i class="fa  fa-shopping-bag"></i></a>
                            </div>
                            <h3><a href="javascript:void(0)" title="">Leather Jacket</a></h3>
                            <span class="price">$34.00</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="product-box">
                            <div class="product-thumb">
                                <img src="http://placehold.it/270x371" alt="" />
                                <a href="javascript:void(0)" title="" class="add-to-cart"><i class="fa  fa-shopping-bag"></i></a>
                            </div>
                            <h3><a href="javascript:void(0)" title="">Leather Jacket</a></h3>
                            <span class="price">$34.00</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="product-box">
                            <div class="product-thumb">
                                <img src="http://placehold.it/270x371" alt="" />
                                <a href="javascript:void(0)" title="" class="add-to-cart"><i class="fa  fa-shopping-bag"></i></a>
                            </div>
                            <h3><a href="javascript:void(0)" title="">Leather Jacket</a></h3>
                            <span class="price">$34.00</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="product-box">
                            <div class="product-thumb">
                                <img src="http://placehold.it/270x371" alt="" />
                                <a href="javascript:void(0)" title="" class="add-to-cart"><i class="fa  fa-shopping-bag"></i></a>
                            </div>
                            <h3><a href="javascript:void(0)" title="">Leather Jacket</a></h3>
                            <span class="price">$34.00</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="product-box">
                            <div class="product-thumb">
                                <img src="http://placehold.it/270x371" alt="" />
                                <a href="javascript:void(0)" title="" class="add-to-cart"><i class="fa  fa-shopping-bag"></i></a>
                            </div>
                            <h3><a href="javascript:void(0)" title="">Leather Jacket</a></h3>
                            <span class="price">$34.00</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="product-box">
                            <div class="product-thumb">
                                <img src="http://placehold.it/270x371" alt="" />
                                <a href="javascript:void(0)" title="" class="add-to-cart"><i class="fa  fa-shopping-bag"></i></a>
                            </div>
                            <h3><a href="javascript:void(0)" title="">Leather Jacket</a></h3>
                            <span class="price">$34.00</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="product-box">
                            <div class="product-thumb">
                                <img src="http://placehold.it/270x371" alt="" />
                                <a href="javascript:void(0)" title="" class="add-to-cart"><i class="fa  fa-shopping-bag"></i></a>
                            </div>
                            <h3><a href="javascript:void(0)" title="">Leather Jacket</a></h3>
                            <span class="price">$34.00</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="product-box">
                            <div class="product-thumb">
                                <img src="http://placehold.it/270x371" alt="" />
                                <a href="javascript:void(0)" title="" class="add-to-cart"><i class="fa  fa-shopping-bag"></i></a>
                            </div>
                            <h3><a href="javascript:void(0)" title="">Leather Jacket</a></h3>
                            <span class="price">$34.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Panel Content -->
</div>