<div class="banner-bootom-w3-agileits">
    <div class="container">
        <div class="col-md-4 single-right-left ">
            <div class="grid images_3_of_2">
                <div class="flexslider">

                    <ul class="slides">
                        <li data-thumb="<%= activity.cover %>">
                            <div class="thumb-image">
                                <img src="<%= activity.cover %>" data-imagezoom="true" class="img-responsive"> </div>
                        </li>
                        <li data-thumb="images/d1.jpg">
                            <div class="thumb-image">
                                <img src="images/d1.jpg" data-imagezoom="true" class="img-responsive"> </div>
                        </li>
                        <li data-thumb="images/d3.jpg">
                            <div class="thumb-image">
                                <img src="images/d3.jpg" data-imagezoom="true" class="img-responsive"> </div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-8 single-right-left simpleCart_shelfItem">
            <h3><%= activity.name %></h3>
            <p>
                <span class="item_price"><%= activity.price %> euros</span>
            </p>
            <div class="rating1">
                <span class="starRating">
                    <input id="rating5" type="radio" name="rating" value="5">
                    <label for="rating5">5</label>
                    <input id="rating4" type="radio" name="rating" value="4">
                    <label for="rating4">4</label>
                    <input id="rating3" type="radio" name="rating" value="3" checked="">
                    <label for="rating3">3</label>
                    <input id="rating2" type="radio" name="rating" value="2">
                    <label for="rating2">2</label>
                    <input id="rating1" type="radio" name="rating" value="1">
                    <label for="rating1">1</label>
                </span>
            </div>
            
            <!--<div class="occasional">
						<h5>Types :</h5>
						<div class="colr ert">
							<label class="radio"><input type="radio" name="radio" checked=""><i></i>Casual Shoes</label>
						</div>
						<div class="colr">
							<label class="radio"><input type="radio" name="radio"><i></i>Sneakers </label>
						</div>
						<div class="colr">
							<label class="radio"><input type="radio" name="radio"><i></i>Formal Shoes</label>
						</div>
						<div class="clearfix"> </div>
					</div> -->
            <div class="occasion-cart">
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                    <form  method="POST" action="/cart/addToCart" enctype="multipart/form-data">
                        <fieldset>
                            <input type="hidden" name="activity_id" value="<%= activity.id %>">
                            <input type="hidden" name="price" value="<%= activity.price %>">
                            <input type="hidden" name="item_count" value="1">
                            <input type="hidden" name="business" value=" ">
                            <input type="hidden" name="item_name" value="Wing Sneakers">
                            <input type="hidden" name="amount" value="650.00">
                            <input type="hidden" name="discount_amount" value="1.00">
                            <input type="hidden" name="currency_code" value="USD">
                            <input type="hidden" name="return" value=" ">
                            <input type="hidden" name="cancel_return" value=" ">
                            <input type="submit" name="submit" value="Ajouter au panier" class="button">
                        </fieldset>
                    </form>
                </div>

            </div>

        </div>
        <div class="clearfix"> </div>
        <!-- /new_arrivals -->
        <div class="responsive_tabs_agileits">
            <div id="horizontalTab">
                <ul class="resp-tabs-list">
                    <li>Description</li>
                    <li>Photos</li>
                    <li>Commentaire</li>
                </ul>
                <div class="resp-tabs-container">
                    <!--/tab_one-->
                    <div class="tab1">

                        <div class="single_page_agile_its_w3ls">
                            <h6><%= activity.name %></h6>
                            <p><%= activity.description %></p>
                        </div>
                    </div>
                    <!--//tab_one-->
                    <div class="tab2">

                        <div class="single_page_agile_its_w3ls">
                            <div class="bootstrap-tab-text-grids">

                                <span>liste des photos</span>



                            </div>

                        </div>
                    </div>
                    <div class="tab3">

                        <div class="single_page_agile_its_w3ls">
                            <div>
                                <span>
                                    <strong>Publié par Thomas
                                        <em>le 01/01/2018</em>
                                    </strong>
                                </span>
                                <br>
                                <span>Chouette produit, je recommande.</span>
                            </div>
                            <div>
                                <span>
                                    <strong>Publié par Julien
                                        <em>le 01/01/2018</em>
                                    </strong>
                                </span>
                                <br>
                                <span>J'achète !!</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //new_arrivals -->
        <!--/slider_owl-->

        <br>
        <br>
        <br>
        <br>

        <div class="contact-form">
            <h4 class="white-w3ls">Donnez
                <span>votre avis !</span>
            </h4>
            <form action="#" method="post">
                <div class="styled-input agile-styled-input-top">
                    <input type="text" name="Name" required="">
                    <label>Pseudo</label>
                    <span></span>
                </div>
                <div class="styled-input">
                    <input type="email" name="Email" required="">
                    <label>Email</label>
                    <span></span>
                </div>
                <div class="styled-input">
                    <textarea name="Message" required=""></textarea>
                    <label>Commentaire</label>
                    <span></span>
                </div>
                <input type="submit" value="Valider">
            </form>
        </div>

        <div class="contact-form">
            <h4 class="white-w3ls">Partagez
                <span>vos souvenirs !</span>
            </h4>
            <form action="#" method="post">
                <div class="styled-input agile-styled-input-top">
                    <input type="text" name="Name" required="">
                    <label>Pseudo</label>
                    <span></span>
                </div>
                <div class="styled-input">
                    <input type="email" name="Email" required="">
                    <label>Email</label>
                    <span></span>
                </div>
                <div class="styled-input">
                    <input name="Message" type="file" required=""></input>
                    <span></span>
                </div>
                <input type="submit" value="Valider">
            </form>
        </div>

    </div>
</div>

