

<header><a href="/">Sails.JS Examples: jQuery</a></header>

<div id="content">
	<div class='players'>
	</div>

	<div class='details'>
		<div class="name">Click a Player to select!</div>
		<div class="controls"></div>
	</div>
</div>

<footer class="clear">&copy;2013 Nobody<div class="float_right"><a href="/">Examples</a></div></footer>

<script src="/js/dependencies/sails.io.js"></script>
<script>
	io.socket.on('say', function(event){
		
		console.log(event);
	
	});
		
	io.socket.get('/say', function (resData) {
		console.log("test");
		console.log(resData);
		resData; // => {id:9, name: 'Timmy Mendez'}
	});
</script>